<a role="menuitem" routerLink="/private/my-otp" routerLinkActive="-active" i18n="My OTP menu option">My OTP</a>
<a role="menuitem" routerLink="/private/observations" routerLinkActive="-active" i18n="Observations menu option">Observations</a>
<a role="menuitem" routerLink="/private/fields" routerLinkActive="-active" i18n="Fields menu option">Fields</a>
<a role="menuitem" *ngIf="isAdmin" routerLink="/private/users" routerLinkActive="-active" i18n="Users menu option">Users</a>
<!--<a role="menuitem" routerLink="profile" routerLinkActive="-active">Profile</a>-->
