@import 'src/settings.scss';

:host {
  position: fixed;
  display: flex;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);

  a {
    display: block;
    width: 100%;
    height: $bottom-bar-height;
    background: $lighter-grey;
    color: $black;
    margin-bottom: 0;
    border-left: 1px solid $grey;
    font-size: $font-size-default;
    text-decoration: none;
    line-height: $bottom-bar-height;
    text-align: center;

    &:first-of-type {
      border-left: 0;
    }

    &.-active {
      background: $color-primary;
      color: $white;
    }
  }
}
