<a role="menuitem" routerLink="/private/my-otp" routerLinkActive="-active" i18n="Menu item|Main navigation menu (mobile)">My OTP</a>
<a role="menuitem" routerLink="/private/observations" routerLinkActive="-active" i18n="Menu item|Main navigation menu (mobile)">Observations</a>
<a role="menuitem" routerLink="/private/fields" routerLinkActive="-active" i18n="Menu item|Main navigation menu (mobile)">Fields</a>
<a role="menuitem" *ngIf="isAdmin" routerLink="/private/users" routerLinkActive="-active" i18n="Menu item|Main navigation menu (mobile)">Users</a>
<!--<a role="menuitem" routerLink="profile" routerLinkActive="-active">Profile</a>-->
