@import 'src/settings.scss';

:host {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  background-color: white;
  border-top: 1px solid $lighter-grey;

  a {
    display: block;
    position: relative;
    height: $bottom-bar-height;
    color: $black;
    margin: 0 10px 0 0;
    font-size: $font-size-small;
    text-decoration: none;
    line-height: $bottom-bar-height;
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;

    &.-active:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 6px;
      background-color: $color-primary;
      content: '';
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
