@import 'src/settings.scss';

:host {
  position: fixed;
  display: flex;
  width: 100%;
  overflow: hidden;
  bottom: 0;

  a {
    display: block;
    width: 100%;
    height: $bottom-bar-height;
    background: $lighter-grey;
    color: $black;
    margin-bottom: 0;
    border-left: 1px solid $grey;
    font-size: .7em;
    text-decoration: none;
    line-height: $bottom-bar-height;
    text-align: center;

    &:first-of-type {
      border-left: 0;
    }

    &.-active {
      background: $grey;
      color: $white;
    }
  }
}
