<a role="menuitem" routerLink="/private/my-otp" routerLinkActive="-active">{{'My OTP' | translate}}</a>
<a role="menuitem" routerLink="/private/observations" routerLinkActive="-active">{{'Observations' | translate}}</a>
<a role="menuitem" routerLink="/private/fields" routerLinkActive="-active">{{'Fields' | translate}}</a>
<!-- <a role="menuitem" *ngIf="isAdmin" routerLink="/private/users" routerLinkActive="-active">Users</a> -->
<a role="menuitem" routerLink="/private/profile" routerLinkActive="-active">{{'Profile' | translate}}</a>
