@import 'src/settings.scss';

.c-form {
  .form-container {

    @media screen and (min-width: $break-tablet) {
      padding: 20px;
      background-color: $lighter-grey-2;
      border-radius: 2px;
      border: 1px solid $lighter-grey;
    }

    .form-group,
    fieldset {
      & + .form-group:not(.-inline),
      & + fieldset {
        margin-top: 20px;
      }
    }

    .form-group {

      &.-required {
        label {
          &::after {
            content: ' *';
          }
        }
      }

      label {
        font-size: $font-size-default;
        font-weight: $font-weight-default;
        text-transform: uppercase;
      }

      input,
      select {
        margin: 0;
      }

      input[type="date"] {
        text-align: center;
      }

      input[type="file"] {
        &::-webkit-file-upload-button {
          @extend .c-button;
          @extend .c-button.-secondary;
        }
      }

      .help-text,
      .note {
        margin: 5px 0 0;
        font-size: 0.8125rem;

        a { color: $color-primary; }
      }

      .help-text {
        font-style: italic;
        color: $color-error;
      }

      &.-inline {
        display: flex;
        align-items: center;
        margin-top: 15px;

        label {
          flex-shrink: 0;
          margin-right: 20px;
          font-size: 0.875rem;
          text-transform: none;
        }
      }
    }

    fieldset {
      legend {
        font-size: $font-size-default;
        font-weight: $font-weight-default;
        text-transform: uppercase;
      }

      .fieldset-container {
        padding: 10px;
        border: 1px solid $lighter-grey;

        @media screen and (min-width: $break-tablet) {
          padding: 20px;
        }
      }

      .fieldset-description {
        margin: 0 0 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid $lighter-grey;
      }

      // We remove the paddings on each side of the row
      // to align the content with the rest of the form
      .row {
        > div:first-of-type {
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 15px;
          // We assume only two columns will be used
          border-bottom: 1px solid $lighter-grey;
        }

        > div:last-of-type {
          padding-top: 15px;
          padding-left: 0;
          padding-right: 0;
        }

        @media screen and (min-width: $break-tablet) {
          > div:first-of-type {
            padding-left: 0;
            padding-right: #{map-get($grid-column-gutter, small)};
            padding-bottom: 0;
            // We assume only two columns will be used
            border-bottom: 0;
            border-right: 1px solid $lighter-grey;
          }

          > div:last-of-type {
            padding-top: 0;
            padding-left: #{map-get($grid-column-gutter, small)};
            padding-right: 0;
          }
        }
      }
    }
  }

  .form-header {
    margin: 20px 0;

    .c-button-container {
      margin: 0;
    }
  }

  .form-footer {
    margin: 30px 0 0;

    @media screen and (min-width: $break-tablet) {
      margin: 50px 0 30px 0;
    }

    .c-button-container {
      margin: 0;
    }
  }
}
