// Styles for the multi-select
// The styles are based on the styles of the
// select elements
// FIXME:
ss-multiselect-dropdown {
  display: block;
  width: 100%;
  position: relative;

  .dropdown {
    width: 100%;
    height: 2.4375rem;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
    background-origin: content-box;
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 9px 6px;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    color: #0a0a0a;

    &.open {
      outline: none;
      border: 1px solid #8a8a8a;
      box-shadow: 0 0 5px #cacaca;
    }

    > button {
      width: 100%;
      height: 100%;
      padding: 0.5rem;
      text-align: left;

      &:active {
        color: #0a0a0a;
      }
    }

    .dropdown-menu {
      width: 100%;
      max-height: 200px;
      position: absolute;
      top: calc(100% - 1px); // 1px due to the border
      left: 0;
      margin: 0;
      padding: 0.5rem;
      background-color: #ffffff;
      border: 1px solid #8a8a8a;
      box-shadow: 0 0 5px #cacaca;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      z-index: 2;

      .dropdown-item a {
        color: #0a0a0a;
        text-decoration: none;
      }
    }
  }
}
