<div class="c-table-header">
  <otp-filters>
     <otp-filter [name]="'Type' | translate" prop="subcategory-type" [values]="typeFilterValues" default="operator" [required]="true"></otp-filter>
     <otp-filter [name]="'Category' | translate" prop="category-id" values="categories" name-attr="name"></otp-filter>
     <otp-filter [name]="'Required location' | translate" prop="location-required" [values]="requiredLocationFilterValues"></otp-filter>
  </otp-filters>
</div>

<otp-table [name]="'subcategories'" [caption]="'Subcategories' | translate" defaultSort="category.name,name" [hideVisibleColumnsBox]="true">
  <otp-table-column prop="name" [name]="'Name' | translate"></otp-table-column>
  <!-- hack to sort by 2 columns category name and name -->
  <otp-table-column prop="category.name,name" [name]="'Category' | translate" [include]="true">
    <ng-template let-row="row" table-cell-template>
      {{row.category.name}}
    </ng-template>
  </otp-table-column>
  <otp-table-column prop="details" [name]="'Details' | translate">
    <ng-template let-value="value" table-cell-template>{{ value ? value : '–' }}</ng-template>
  </otp-table-column>
  <otp-table-column prop="location-required" [name]="'Required location' | translate">
    <ng-template let-value="value" table-cell-template>{{ (value ? 'Yes' : 'No') | translate }}</ng-template>
  </otp-table-column>
</otp-table>
