<div class="c-table-header">
  <otp-filters>
     <otp-filter i18n-name="Table of sub-categories|Name of a filter" name="Type" prop="subcategory-type" [values]="['operator', 'government']" default="operator" [required]="true"></otp-filter>
     <otp-filter i18n-name="Table of sub-categories|Name of a filter" name="Category" prop="category-id" values="categories" name-attr="name"></otp-filter>
  </otp-filters>
  <!-- <button class="c-button -primary" i18n="Button to create a new sub-category">
    New sub-category
  </button> -->
</div>

<otp-table i18n-caption="Caption for the table which lists the sub-categories" caption="Sub-categories">
  <otp-table-column i18n-name="Table of sub-categories|Name of the column corresponding to the name of the sub-categories" prop="name" name="Name"></otp-table-column>
  <otp-table-column i18n-name="Table of sub-categories|Name of the column corresponding to the category of the sub-categories" prop="category.name" name="Category" [include]="true"></otp-table-column>
  <otp-table-column i18n-name="Table of sub-categories|Name of the column corresponding to the details of the sub-categories" prop="details" name="Details">
    <ng-template let-value="value" table-cell-template>{{ value ? value : '–' }}</ng-template>
  </otp-table-column>
  <!-- <otp-table-column i18n-name="Table of sub-categories|Name of the actions columns (containing the edit and delete button)" name="Actions">
     <ng-template let-row="row" table-cell-template>
       <button class="action" (click)="onEdit(row)"><otp-icon name="#icon-edit"></otp-icon></button>
       <button class="action" (click)="onDelete(row)"><otp-icon name="#icon-delete"></otp-icon></button>
     </ng-template>
  </otp-table-column> -->
</otp-table>
