<spinner class="center" *ngIf="loading" [tickness]="1" [size]="20"></spinner>
<div class="row">
  <div class="large-10 columns">
    <form name="form" (ngSubmit)="f.valid && onSubmit(f.value)" #f="ngForm" novalidate>
      <div class="c-container -j-between -t-d-column -t-a-start">
        <h2>{{titleText}}</h2>
        <div class="c-button-container -j-end form-group">
          <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary">Cancel</button>
          <button disable="loading" type="submit" class="c-button -primary">Create</button>
        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !illegality.valid }">
          <label for="illegality">Name</label>
          <input id="illegality" type="text" class="form-control" name="illegality" ngModel #illegality="ngModel" required />
          <div *ngIf="f.submitted && !illegality.valid" class="help-text">Name is required</div>
      </div>
      <div class="form-group">
          <label for="country_id">Country
            <select name="country_id" ngModel #country_id="ngModel">
              <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
            </select>
          </label>
      </div>
      <div class="form-group">
          <label for="law_ids">Law references
            <select multiple name="law_ids" ngModel #law_ids="ngModel">
              <option *ngFor="let law of laws" [value]="law.id">{{ law.legal_reference }}</option>
            </select>
          </label>
      </div>
      <div class="form-group">
          <label for="details">Details</label>
          <input id="details" type="text" class="form-control" name="details" ngModel #details="ngModel" />
      </div>

      <div class="c-container -j-end -t-d-column -t-a-start">
        <div class="c-button-container -j-end form-group">
          <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary">Cancel</button>
          <button disable="loading" type="submit" class="c-button -primary">Create</button>
        </div>
      </div>

    </form>
  </div>
</div>
