@import 'src/settings.scss';

:host {
  display: block;
  margin-top: 20px;

  .actions {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;

    button {
      margin-left: 10px;
    }
  }

  label {
    text-transform: uppercase;
  }
}
