<div class="l-wrapper">
  <div class="c-container -j-between">
    <div class="c-button-container -j-end">
      <button (click)="triggerNewUser()" class="c-button -primary">
        New user
      </button>
    </div>
  </div>

  <otp-table caption="Users">
    <otp-table-column name="Name" prop="name"></otp-table-column>
    <otp-table-column name="Username" prop="nickname"></otp-table-column>
    <otp-table-column name="Email" prop="email"></otp-table-column>
    <otp-table-column name="Actions">
     <ng-template let-row="row" table-cell-template>
       <button class="action" (click)="onEdit(row)"><otp-icon name="#icon-edit"></otp-icon></button>
       <button class="action" (click)="onDelete(row)"><otp-icon name="#icon-delete"></otp-icon></button>
     </ng-template>
    </otp-table-column>
  </otp-table>
</div>
