<otp-loader *ngIf="loading" overlay fixed></otp-loader>
<form *ngIf="!loading" name="form" class="c-form" (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate>
  <div class="c-container -j-between -t-d-column -t-a-start">
    <h2 *ngIf="!operator.id" i18n="Operator creation|Title of the page">New operator</h2>
    <h2 *ngIf="operator.id" i18n="Operator edition|Title of the page">Edit operator</h2>
    <div class="c-button-container -j-end form-group" *otpMinTablet>
      <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary" i18n="Cancel button">Cancel</button>
      <button *ngIf="!operator.id" disable="loading" type="submit" class="c-button -primary" i18n="Create button">Create</button>
      <button *ngIf="operator.id" disable="loading" type="submit" class="c-button -primary" i18n="Save button">Save</button>
    </div>
  </div>

  <div class="form-container">
    <!-- 1. Name -->
    <div class="form-group -required">
      <label for="name_field">Name</label>
      <input id="name_field" type="text" class="form-control" name="name_field" [(ngModel)]="operator.name" #name_field="ngModel" required />
      <div *ngIf="f.submitted && !name_field.valid" class="help-text">Please enter the name</div>
    </div>

    <!-- 2. Type -->
    <div class="form-group -required">
      <label for="type_field">Type</label>
      <select id="type_field" name="type_field" [(ngModel)]="operator['operator-type']" #type_field="ngModel" required>
        <option disabled value="">Select an operator type</option>
        <option *ngFor="let type of operatorTypes" [ngValue]="type">{{ type }}</option>
      </select>
      <div *ngIf="f.submitted && !type_field.valid" class="help-text">Please select an operator type</div>
    </div>

    <!-- 3. Country -->
    <div class="form-group -required">
      <label for="country_field">Country</label>
      <select id="country_field" name="country_field" [(ngModel)]="operator.country" #country_field="ngModel" required>
        <option disabled [value]="null">Select a country</option>
        <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
      </select>
      <div *ngIf="f.submitted && !country_field.valid" class="help-text">Please select a country</div>
    </div>

    <!-- 4. Concession -->
    <div class="form-group">
      <label for="concession_field">Concession</label>
      <input id="concession_field" type="text" class="form-control" name="concession_field" [(ngModel)]="operator.concession" #concession_field="ngModel" />
    </div>

    <!-- 5. Details -->
    <div class="form-group">
      <label for="details_field">Details</label>
      <textarea id="details_field" name="details_field" [(ngModel)]="operator.details" #details_field="ngModel"></textarea>
    </div>

    <!-- 6. Address -->
    <div class="form-group">
      <label for="address_field">Address</label>
      <textarea id="address_field" name="address_field" [(ngModel)]="operator.address" #address_field="ngModel"></textarea>
    </div>

    <!-- 7. Website -->
    <div class="form-group">
      <label for="website_field">Website</label>
      <input id="website_field" type="url" class="form-control" name="website_field" [(ngModel)]="operator.website" #website_field="ngModel" />
    </div>

    <!-- 8. Logo -->
    <fieldset>
      <legend>Logo</legend>
      <div class="fieldset-container">
        <div class="row">
          <div class="small-12 medium-6 columns">
            <h3>Preview</h3>
            <p *ngIf="!operator.logo">No logo</p>
            <p *ngIf="operator.logo">
              <img class="logo" [src]="logoUrl" alt="Operator's logo" />
            </p>
          </div>

          <div class="small-12 medium-6 columns">
            <h3>Upload a logo</h3>
            <p></p>
            <div class="form-group">
              <label for="logo_field">Logo</label>
              <input id="logo_field" type="file" class="form-control" name="logo_field" [(ngModel)]="operator.logo" #logo_field="ngModel" otpBase64FileInput maxSize="5242880" accept="image/*" />
              <div *ngIf="logo_field.errors?.maxSize" class="help-text">The image should weight less than 5MB</div>
              <div *ngIf="!logo_field.errors?.maxSize && !logo_field.valid" class="help-text">The file is not valid</div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form-footer">
    <div class="c-container -j-end -t-d-column -t-a-start" *otpMinTablet>
      <div class="c-button-container -j-end form-group">
        <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary" i18n="Cancel button">Cancel</button>
        <button *ngIf="!operator.id" disable="loading" type="submit" class="c-button -primary" i18n="Create button">Create</button>
      <button *ngIf="operator.id" disable="loading" type="submit" class="c-button -primary" i18n="Save button">Save</button>
      </div>
    </div>

    <otp-action-bar *otpMaxTablet>
      <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary" i18n="Cancel button">Cancel</button>
      <button *ngIf="!operator.id" disable="loading" type="submit" class="c-button -primary" i18n="Create button">Create</button>
      <button *ngIf="operator.id" disable="loading" type="submit" class="c-button -primary" i18n="Save button">Save</button>
    </otp-action-bar>
  </div>

</form>
