<div class="c-table-header">
  <otp-filters>
    <otp-filter [name]="'Type' | translate" [values]="operatorTypes" prop="operator-type"></otp-filter>
    <otp-filter [name]="'Country' | translate" values="countries" prop="country" name-attr="name"></otp-filter>
  </otp-filters>
  <button (click)="triggerNewOperator()" class="c-button -primary">
    {{'New operator' | translate}}
  </button>
</div>

<otp-table [caption]="'Operators' | translate">
  <otp-table-column [name]="'Name' | translate" prop="name"></otp-table-column>
  <otp-table-column prop="operator-type" [name]="'Type' | translate"></otp-table-column>
  <otp-table-column prop="country.name" [name]="'Country' | translate" [include]="true"></otp-table-column>
  <otp-table-column [name]="'Actions' | translate">
     <ng-template let-row="row" table-cell-template>
       <button class="action" (click)="onEdit(row)" [attr.aria-label]="'Edit' | translate"><otp-icon name="#icon-edit"></otp-icon></button>
     </ng-template>
  </otp-table-column>
</otp-table>
