<div class="c-table-header">
  <otp-filters>
    <otp-filter [name]="'Type' | translate" [values]="operatorTypeOptions" prop="operator-type"></otp-filter>
    <otp-filter [name]="'Country' | translate" values="countries" prop="country" name-attr="name" [extra-params]="countryFilterParams"></otp-filter>
    <otp-filter [name]="'Active' | translate" [values]="activeFilterValues" prop="is-active"></otp-filter>
  </otp-filters>
  <button (click)="triggerNewOperator()" class="c-button -primary">
    {{'New operator' | translate}}
  </button>
</div>

<otp-table [name]="'operators'" [caption]="'Operators' | translate" defaultSort="name" [hideVisibleColumnsBox]="true">
  <otp-table-column [name]="'Name' | translate" prop="name"></otp-table-column>
  <otp-table-column prop="operator-type" [name]="'Type' | translate">
    <ng-template let-row="row" table-cell-template>
      {{row['operator-type'] | translate}}
    </ng-template>
  </otp-table-column>
  <otp-table-column prop="country.name" [name]="'Country' | translate" [include]="true"></otp-table-column>
  <otp-table-column [name]="'Active' | translate">
    <ng-template let-row="row" table-cell-template>
      {{(row['is-active'] ? 'Active': 'Inactive') | translate}}
    </ng-template>
  </otp-table-column>
  <otp-table-column [name]="'Actions' | translate">
     <ng-template let-row="row" table-cell-template>
       <button class="action" (click)="onEdit(row)" [attr.aria-label]="(canEdit(row) ? 'Edit' :'Info') | translate">
         <otp-icon [name]="canEdit(row) ? '#icon-edit' : '#icon-info'"></otp-icon>
      </button>
     </ng-template>
  </otp-table-column>
</otp-table>
