<div class="c-table-header">
  <otp-filters></otp-filters>
</div>

<otp-table [caption]="'Reports' | translate">
  <otp-table-column prop="title" [name]="'Title' | translate"></otp-table-column>
  <otp-table-column prop="publication-date" [name]="'Publication date' | translate">
    <ng-template let-value="value" table-cell-template>{{ value ? getFormatedDate(value) : '–' }}</ng-template>
  </otp-table-column>
  <otp-table-column [name]="'Actions' | translate">
    <ng-template let-row="row" table-cell-template>
      <a href="{{apiUrl}}{{row.attachment.url}}" class="action" [attr.aria-label]="'Download' | translate" target="_blank" download><otp-icon name="#icon-download"></otp-icon></a>
    </ng-template>
  </otp-table-column>
</otp-table>
