<div class="row">
  <div class="large-10 columns">
    <h2>{{titleText}}</h2>
  </div>
</div>
<spinner class="center" *ngIf="loading" [tickness]="1" [size]="20"></spinner>
<div class="row">
  <div class="large-10 columns">
    <form name="form" (ngSubmit)="f.valid && onSubmit(f.value)" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !governance_pillar.valid }">
          <label for="governance_pillar">Governance pillar</label>
          <input id="governance_pillar" type="text" class="form-control" name="governance_pillar"
          ngModel #governance_pillar="ngModel" required />
          <div *ngIf="f.submitted && !governance_pillar.valid" class="help-text">Governance pillar is required</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !governance_problem.valid }">
          <label for="governance_problem">Governance pillar</label>
          <input id="governance_problem" type="text" class="form-control" name="governance_problem"
          ngModel #governance_problem="ngModel" required />
          <div *ngIf="f.submitted && !governance_pillar.valid" class="help-text">Governance pillar is required</div>
      </div>
      <div class="form-group">
          <label for="details">Details</label>
          <input id="details" type="text" class="form-control" name="details" ngModel #details="ngModel" />
      </div>

      <div class="form-group actions" *showItSizes="{min: 768}">
          <button disable="loading" type="button" (click)="onCancel()" class="button secondary">Cancel</button>
          <button disable="loading" type="submit" class="button primary">Create</button>
      </div>

      <otp-action-bar *xs>
        <button disable="loading" type="button" (click)="onCancel()" class="button secondary">Cancel</button>
        <button disable="loading" type="submit" class="button primary">Create</button>
      </otp-action-bar>
    </form>
  </div>
</div>
