<div class="l-wrapper">
  <otp-loader fixed overlay *ngIf="loading"></otp-loader>
  <form class="c-form" name="form" (ngSubmit)="f.valid && onSubmit(f.value)" #f="ngForm" novalidate>
    <h2>{{'Update your password' | translate}}</h2>

    <div class="form-container">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !new_password.valid, '-required': true }">
        <label for="new_password">{{'New password' | translate}}</label>
        <input id="new_password" type="password" autocomplete="new-password" class="form-control" name="new_password" ngModel #new_password="ngModel" minlength="6" required />
        <div *ngIf="f.submitted && new_password.errors?.required" class="help-text">{{'Please enter a password' | translate}}</div>
        <div *ngIf="f.submitted && new_password.errors?.minlength" class="help-text">{{'Your password needs at least 6 characters' | translate}}</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password_confirmation.valid, '-required': true }">
        <label for="password_confirmation">{{'Confirm your new password' | translate}}</label>
        <input id="password_confirmation" type="password" autocomplete="new-password" ngModel class="form-control" name="password_confirmation" #password_confirmation="ngModel" [equalTo]="new_password" [required]="!!new_password.value" />
        <div *ngIf="f.submitted && password_confirmation.errors?.required" class="help-text">{{'Please confirm your new password' | translate}}</div>
        <div *ngIf="f.submitted && password_confirmation.errors?.equalTo && !password_confirmation.errors?.required" class="help-text">{{"Password values don't not coincide" | translate}}</div>
      </div>
    </div>

    <div class="form-footer">
      <div class="c-container -j-end -t-d-column -t-a-start" *otpMinTablet>
        <div class="c-button-container -j-end form-group">
          <a [routerLink]="['/']" class="c-button -secondary">{{'Back to Login Page' | translate}}</a>
          <button type="submit" class="c-button -primary">{{'Change password' | translate}}</button>
        </div>
      </div>
    </div>

    <otp-action-bar *otpMaxTablet>
      <a [routerLink]="['/']" class="c-button -secondary">{{'Back to Login Page' | translate}}</a>
      <button type="submit" class="c-button -primary">{{'Change password' | translate}}</button>
    </otp-action-bar>
  </form>
</div>




