:host {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  max-width: 520px;

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  otp-action-bar {
    /deep/ a.c-button {
      margin-right: 10px;
    }
  }
}

