<div class="l-wrapper">
  <otp-loader fixed overlay *ngIf="loading"></otp-loader>
  <form class="c-form" name="form" (ngSubmit)="f.valid && onSubmit(f.value)" #f="ngForm" novalidate>
    <h2>{{'Reset password' | translate}}</h2>

    <div class="form-container">
      <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <label for="email">{{'Email' | translate}}</label>
        <input id="email" type="email" class="form-control" name="email" ngModel #email="ngModel" required email />
        <p *ngIf="f.submitted && email.errors?.required" class="help-text">{{'Email is required' | translate}}</p>
        <p *ngIf="f.submitted && email.errors?.email && !email.errors?.required" class="help-text">{{'Please enter your email address' | translate}}</p>
      </div>
    </div>

    <div class="form-footer">
      <div class="c-container -j-end -t-d-column -t-a-start" *otpMinTablet>
        <div class="c-button-container -j-end form-group">
          <a [routerLink]="['/']" class="c-button -secondary">{{'Login' | translate}}</a>
          <button  type="submit" class="c-button -primary">{{'Reset' | translate}}</button>
        </div>
      </div>
    </div>

    <otp-action-bar *otpMaxTablet>
      <a [routerLink]="['/']" class="c-button -secondary">{{'Login' | translate}}</a>
      <button  type="submit" class="c-button -primary">{{'Reset' | translate}}</button>
    </otp-action-bar>
  </form>
</div>




