<div class="mobile-navigation" *otpMaxTablet>
  <otp-navigation layout="horizontal">
    <otp-navigation-item i18n-name="Menu item|Menu located on the 'My OTP' page" name="Organization profile" url="profile"></otp-navigation-item>
    <otp-navigation-item i18n-name="Menu item|Menu located on the 'My OTP' page" name="My observations" url="observations"></otp-navigation-item>
  </otp-navigation>
</div>

<div class="l-wrapper">
  <div class="c-container -j-start -a-start">
    <otp-navigation *otpMinTablet layout="vertical">
      <otp-navigation-item i18n-name="Menu item|Menu located on the 'My OTP' page" name="Organization profile" url="profile"></otp-navigation-item>
      <otp-navigation-item i18n-name="Menu item|Menu located on the 'My OTP' page" name="Report library" url="reports"></otp-navigation-item>
      <!-- <otp-navigation-item i18n-name="Menu item|Menu located on the 'My OTP' page" name="My observations" url="observations"></otp-navigation-item> -->
    </otp-navigation>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
