<otp-loader *ngIf="loading" overlay fixed></otp-loader>
<form *ngIf="!loading" name="form" class="c-form" (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate>
  <div class="c-container -j-between -t-d-column -t-a-start">
    <h2 *ngIf="!government.id" i18n="Operator creation|Title of the page">New government entity</h2>
    <h2 *ngIf="government.id" i18n="Operator edition|Title of the page">Edit government entity</h2>
    <div class="c-button-container -j-end form-group" *otpMinTablet>
      <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary" i18n="Cancel button">Cancel</button>
      <button *ngIf="!government.id" disable="loading" type="submit" class="c-button -primary" i18n="Create button">Create</button>
      <button *ngIf="government.id" disable="loading" type="submit" class="c-button -primary" i18n="Save button">Save</button>
    </div>
  </div>

  <div class="form-container">
    <!-- 1. Name -->
    <div class="form-group -required">
      <label for="name_field">Name</label>
      <input id="name_field" type="text" class="form-control" name="name_field" [(ngModel)]="government['government-entity']" #name_field="ngModel" required />
      <div *ngIf="f.submitted && !name_field.valid" class="help-text">Please enter the name</div>
    </div>

    <!-- 2. Country -->
    <div class="form-group -required">
      <label for="country_field">Country</label>
      <select id="country_field" name="country_field" [(ngModel)]="government.country" #country_field="ngModel" required>
        <option disabled [value]="null">Select a country</option>
        <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
      </select>
      <div *ngIf="f.submitted && !country_field.valid" class="help-text">Please select a country</div>
    </div>

    <!-- 3. Details -->
    <div class="form-group">
      <label for="details_field">Details</label>
      <textarea id="details_field" name="details_field" [(ngModel)]="government.details" #details_field="ngModel"></textarea>
    </div>
  </div>

  <div class="form-footer">
    <div class="c-container -j-end -t-d-column -t-a-start" *otpMinTablet>
      <div class="c-button-container -j-end form-group">
        <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary" i18n="Cancel button">Cancel</button>
        <button *ngIf="!government.id" disable="loading" type="submit" class="c-button -primary" i18n="Create button">Create</button>
      <button *ngIf="government.id" disable="loading" type="submit" class="c-button -primary" i18n="Save button">Save</button>
      </div>
    </div>

    <otp-action-bar *otpMaxTablet>
      <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary" i18n="Cancel button">Cancel</button>
      <button *ngIf="!government.id" disable="loading" type="submit" class="c-button -primary" i18n="Create button">Create</button>
      <button *ngIf="government.id" disable="loading" type="submit" class="c-button -primary" i18n="Save button">Save</button>
    </otp-action-bar>
  </div>
</form>
