@if (loading) {
  <div class="overlay"></div>
}
@if (loading) {
  <otp-loader [attr.class]="rows && rows.length && rows.length > 1 ? '-has-data' : ''"></otp-loader>
}
@if (!hideVisibleColumnsBox) {
  <div class="columns-visibility">
    <p>
      {{'Visible columns:' | translate}}
    </p>
    @for (column of hideableColumns; track column; let i = $index) {
      <div>
        <label [for]="'table-' + name + '-column-' + i">{{column.name}}</label>
        <input [id]="'table-' + name + '-column-' + i" type="checkbox" [checked]="hiddenColumns.indexOf(column.name) === -1" (change)="onToggleColumnVisibility($event, column.name)" />
      </div>
    }
  </div>
}
<div #tableContainer [attr.class]="'table-container' + (adjustToScreenHeight ? ' -adjusted-to-screen-height' : '')">
  <table role="grid" aria-readonly="true" [attr.aria-rowcount]="rowCount">
    <caption>
      @if (caption) {
        {{caption}}
      }
      @if (!caption) {
        {{'Undefined table' | translate}}
      }
      @if (sortColumn) {
        , {{'table.sortOrder' | translate: { 'column': sortColumn.name || sortColumn.prop} }}: @if (sortOrder === 'asc') {
        <span>{{'ascendent' | translate}}</span>
        }@if (sortOrder === 'desc') {
        <span>{{'descendent' | translate}}</span>
      }
    }
  </caption>

  <thead>
    <tr role="row" aria-rowindex="1">
      @for (column of visibleColumns; track column) {
        <th
          [attr.class]="(sortColumn === column ? ('-order-' + sortOrder) : '') + ((!column.prop || !column.sortable) ? ' -no-sortable' : '')"
          [attr.aria-sort]="sortColumn === column ? sortOrder : 'none'"
          [tabindex]="sortColumn === column ? 0 : -1"
          role="columnheader"
          (click)="(column.sortable || column.sortable === undefined) && column.prop && sortByColumn(column)"
          >
          {{column.name || column.prop}}
        </th>
      }
    </tr>
  </thead>

  <tbody>
    @if (!rows || !rows.length) {
      <tr class="no-data" role="row">
        <td role="gridcell" [attr.colspan]="visibleColumns.length">{{'No data' | translate}}</td>
      </tr>
    }

    @for (row of renderableRows; track row) {
      <tr role="row" [attr.aria-rowindex]="row.__index__">
        @for (column of visibleColumns; track column) {
          <td role="gridcell" [attr.aria-rowindex]="row.__index__" [ngClass]="{ '-highlight': hasHighlight(row) }">
            <span class="column-name">{{column.name || column.prop}}</span>
            @if (!column.cellTemplate) {
              {{column.getValue(row)}}
            }
            @if (column.cellTemplate) {
              <ng-template
                [ngTemplateOutlet]="column.cellTemplate"
                [ngTemplateOutletContext]="{ value: column.getValue(row), row: row, column: column }"
                >
              </ng-template>
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>
</div>

@if (perPage) {
  <div class="paginator">
    <div class="per-page">
      <select [(ngModel)]="perPage" [attr.aria-describedby]="'table-results-per-page'">
        @for (option of perPageOptions; track option) {
          <option [ngValue]="option">{{option}}</option>
        }
      </select>
      <span id="table-results-per-page">{{'results per page' | translate}}</span>
    </div>
    <ul>
      @if (currentPage > firstPage + 5) {
        <li><button type="button" [attr.aria-label]="'table.page' | translate: { 'pageNumber': firstPage }" (click)="currentPage = firstPage">{{firstPage}}</button></li>
      }
      @if (currentPage > firstPage + 6) {
        <li>...</li>
      }
      @if (currentPage > firstPage + 4) {
        <li><button type="button" [attr.aria-label]="'table.page' | translate: { 'pageNumber': currentPage - 5 }" (click)="currentPage = currentPage - 5">{{currentPage - 5}}</button></li>
      }
      @if (currentPage > firstPage + 3) {
        <li><button type="button" [attr.aria-label]="'table.page' | translate: { 'pageNumber': currentPage - 4 }" (click)="currentPage = currentPage - 4">{{currentPage - 4}}</button></li>
      }
      @if (currentPage > firstPage + 2) {
        <li><button type="button" [attr.aria-label]="'table.page' | translate: { 'pageNumber': currentPage - 3 }" (click)="currentPage = currentPage - 3">{{currentPage - 3}}</button></li>
      }
      @if (currentPage > firstPage + 1) {
        <li><button type="button" [attr.aria-label]="'table.page' | translate: { 'pageNumber': currentPage - 2 }" (click)="currentPage = currentPage - 2">{{currentPage - 2}}</button></li>
      }
      @if (currentPage > firstPage) {
        <li><button type="button" [attr.aria-label]="'table.page' | translate: { 'pageNumber': currentPage - 1 }" (click)="currentPage = currentPage - 1">{{currentPage - 1}}</button></li>
      }
      <li class="-active"><button type="button" [attr.aria-label]="'table.page' | translate: { 'pageNumber': currentPage }">{{currentPage}}</button></li>
      @if (currentPage < lastPage) {
        <li><button type="button" [attr.aria-label]="'table.page' | translate: { 'pageNumber': currentPage + 1 }" (click)="currentPage = currentPage + 1">{{currentPage + 1}}</button></li>
      }
      @if (currentPage < lastPage - 1) {
        <li><button type="button" [attr.aria-label]="'table.page' | translate: { 'pageNumber': currentPage + 2 }" (click)="currentPage = currentPage + 2">{{currentPage + 2}}</button></li>
      }
      @if (currentPage < lastPage - 2) {
        <li><button type="button" [attr.aria-label]="'table.page' | translate: { 'pageNumber': currentPage + 3 }" (click)="currentPage = currentPage + 3">{{currentPage + 3}}</button></li>
      }
      @if (currentPage < lastPage - 3) {
        <li><button type="button" [attr.aria-label]="'table.page' | translate: { 'pageNumber': currentPage + 4 }" (click)="currentPage = currentPage + 4">{{currentPage + 4}}</button></li>
      }
      @if (currentPage < lastPage - 4) {
        <li><button type="button" [attr.aria-label]="'table.page' | translate: { 'pageNumber': currentPage + 5 }" (click)="currentPage = currentPage + 5">{{currentPage + 5}}</button></li>
      }
      @if (currentPage < lastPage - 6) {
        <li>...</li>
      }
      @if (currentPage < lastPage - 5) {
        <li><button type="button" [attr.aria-label]="'table.page' | translate: { 'pageNumber': lastPage }" (click)="currentPage = lastPage">{{lastPage}}</button></li>
      }
    </ul>
    <div class="buttons-container">
      <button type="button" class="c-button -secondary" [disabled]="!previousPage" (click)="currentPage = previousPage">{{'Previous' | translate}}</button>
      <button type="button" class="c-button -secondary" [disabled]="!nextPage" (click)="currentPage = nextPage">{{'Next' | translate}}</button>
    </div>
  </div>
}
