<div class="c-bottombar">
  <button (click)="onClick('observation')" [ngClass]="{ 'button': true,  'is-active': activeButton === 'observation'}">Observations</button>
  <button *ngIf="admin" (click)="onClick('observation-field')" [ngClass]="{ 'button': true,  'is-active': activeButton === 'observation-field'}">Fields</button>
  <button *ngIf="admin" (click)="onClick('user')" [ngClass]="{ 'button': true,  'is-active': activeButton === 'user'}">Users</button>
  <button (click)="onClick('profile')" [ngClass]="{ 'button': true,  'is-active': activeButton === 'profile'}">Profile</button>
</div>
