html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Acumin Pro';
  font-weight: $font-weight-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark-grey;
  background: $light-grey;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-default;
  margin: 0;
  padding: 0;
}
