@use 'src/settings.scss';

.l-wrapper {
  margin: 0 auto;
  padding: 0 10px;
  max-width: settings.$body-max-width;

  @media screen and (min-width: settings.$break-mobile) {
    padding: 0 20px;
  }
}
