<div class="c-table-header">
  <otp-filters>
    <otp-filter [name]="'Subcategory' | translate" values="subcategories" prop="subcategory" name-attr="name"></otp-filter>
  </otp-filters>
</div>

<otp-table [name]="'severities'" [caption]="'Severities' | translate">
  <otp-table-column prop="subcategory.name" [name]="'Subcategory' | translate" [include]="true"></otp-table-column>
  <otp-table-column prop="level" [name]="'Level' | translate"></otp-table-column>
  <otp-table-column prop="details" [name]="'Details' | translate"></otp-table-column>
</otp-table>
