<otp-loader *ngIf="saveLoading" overlay fixed></otp-loader>
<div class="l-wrapper">
  <form name="form" class="c-form" (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-container" *ngIf="loading"><otp-loader></otp-loader></div>
    <div class="form-container" *ngIf="!loading">

      <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
        <label for="name" i18n="Organization profile|Label for the name field (name of the organization)">Name of the organization</label>
        <input type="text" id="name" name="name" [(ngModel)]="observer.name" #name="ngModel" required />
        <div *ngIf="f.submitted && name.errors?.required" class="help-text" i18n="Organization profile|Error message if the name of the organization isn't supplied">Name is required</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
        <label for="address" i18n="Organization profile|Label for the address field">Address</label>
        <textarea id="address" name="address" [(ngModel)]="observer.address" #address="ngModel"></textarea>
      </div>

      <fieldset>
        <legend i18n="Organization profile|Title of a section of the form">Contact information (General information)</legend>

        <div class="fieldset-container">

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contact_general_name.valid }">
            <label for="contact_general_name" i18n="Organization profile|Label for the contact's name field (general information)">Name</label>
            <input type="text" id="contact_general_name" name="contact_general_name" [(ngModel)]="observer['information-name']" #contact_general_name="ngModel" />
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contact_general_email.valid }">
            <label for="contact_general_email" i18n="Organization profile|Label for the contact's email field (general information)">Email</label>
            <input type="email" id="contact_general_email" name="contact_general_email" [(ngModel)]="observer['information-email']" #contact_general_email="ngModel" [email]="!!observer['information-email']" />
            <div *ngIf="f.submitted && contact_general_email.errors?.email" class="help-text" i18n="Organization profile|Error message if the contact email isn't valid (general information)">Please enter an email address</div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contact_general_phone.valid }">
            <label for="contact_general_phone" i18n="Organization profile|Label for the contact's phone number field (general information)">Phone number</label>
            <input type="tel" id="contact_general_phone" name="contact_general_phone" [(ngModel)]="observer['information-phone']" #contact_general_phone="ngModel" />
          </div>

        </div>

      </fieldset>

      <fieldset>
        <legend i18n="Organization profile|Title of a section of the form">Contact information (For inquiries on data uploaded)</legend>

        <div class="fieldset-container">

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contact_inquiries_name.valid }">
            <label for="contact_inquiries_name" i18n="Organization profile|Label for the contact's name field (inquiries on data uploaded)">Name</label>
            <input type="text" id="contact_inquiries_name" name="contact_inquiries_name" [(ngModel)]="observer['data-name']" #contact_inquiries_name="ngModel" />
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contact_inquiries_email.valid }">
            <label for="contact_inquiries_email" i18n="Organization profile|Label for the contact's email field (inquiries on data uploaded)">Email</label>
            <input type="email" id="contact_inquiries_email" name="contact_inquiries_email" [(ngModel)]="observer['data-email']" #contact_inquiries_email="ngModel" [email]="!!observer['data-email']" />
            <div *ngIf="f.submitted && contact_inquiries_email.errors?.email" class="help-text" i18n="Organization profile|Error message if the contact email isn't valid (inquiries on data uploaded)">Please enter an email address</div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contact_inquiries_phone.valid }">
            <label for="contact_inquiries_phone" i18n="Organization profile|Label for the contact's phone number field (inquiries on data uploaded)">Phone number</label>
            <input type="tel" id="contact_inquiries_phone" name="contact_inquiries_phone" [(ngModel)]="observer['data-phone']" #contact_inquiries_phone="ngModel" />
          </div>

        </div>

      </fieldset>

    </div>

    <div class="form-footer">

      <div class="c-container -j-end -t-d-column -t-a-start">
        <div class="c-button-container -xs-j-between -t-j-end">
          <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary" i18n="Discard change button">Discard changes</button>
          <button disable="loading" type="submit" class="c-button -primary" i18n="Save changes button">Save changes</button>
        </div>
      </div>

    </div>

  </form>
</div>
