@import 'src/settings.scss';

:host {
  display: block;
  margin-top: 20px;
  padding-bottom: 20px;

  .table-actions {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    
    .upload-csv {
      margin: 0 10px 10px 0;
    }
  }

  @media screen and (min-width: $break-tablet) {
    otp-navigation {
      margin-left: 20px;
    }
  }
}

:host /deep/ .ngx-datatable .datatable-body-cell {
  -webkit-user-select: initial!important;
  -moz-user-select: initial!important;
  -ms-user-select: initial!important;
  -o-user-select: initial!important;
  user-select:initial!important;
}
