<spinner class="center" *ngIf="loading" [tickness]="1" [size]="20"></spinner>
<form *ngIf="!loading" name="form" class="c-form" (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate>
  <div class="c-container -j-between -t-d-column -t-a-start">
    <h2 *ngIf="!observation" i18n="Observation creation|Title of the page">New observation</h2>
    <h2 *ngIf="observation" i18n="Observation edition|Title of the page">Edit observation</h2>
    <div class="c-button-container -j-end form-group" *otpMinTablet>
      <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary" i18n="Cancel button">Cancel</button>
      <button *ngIf="!observation" disable="loading" type="submit" class="c-button -primary" i18n="Create button">Create</button>
      <button *ngIf="observation" disable="loading" type="submit" class="c-button -primary" i18n="Save button">Save</button>
    </div>
  </div>

  <div class="form-header">
    <div class="form-group">
      <label for="observation_type" i18n="Observation creation/edition|Label for the type field">Type</label>
      <select id="observation_type" name="observation_type" [(ngModel)]="type" #observation_type="ngModel" [required]="!observation" [disabled]="!!observation">
        <option [value]="null" disabled i18n="Observation creation/edition">Select an observation type</option>
        <option value="operator" i18n="Observation type">Operator</option>
        <option value="government" i18n="Observation type">Government</option>
      </select>
      <div *ngIf="f.submitted && !observation_type.valid" class="help-text" i18n="Observation creation/edition|Error message if the type isn't supplied (the user will have to user between some options)">Please select an observation type</div>
    </div>
  </div>

  <div class="form-container" *ngIf="type === 'operator'">
    <!-- 1. Report -->
    <fieldset>
      <legend i18n="Observation creation/edition|Title of a section of the form">Report</legend>
      <div class="fieldset-container">
      </div>
    </fieldset>

    <!-- 2. Country -->
    <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !country_id.valid }">
      <label for="country_id" i18n="Observation creation/edition|Label for the country field">Country</label>
      <select id="country_id" name="country_id" [(ngModel)]="country" #country_id="ngModel" required>
        <option [value]="null" disabled i18n="Observation creation/edition">Select a country</option>
        <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
      </select>
      <div *ngIf="f.submitted && !country_id.valid" class="help-text" i18n="Observation creation/edition|Error message if the country isn't supplied (the user will have to user between some options)">Please select a country</div>
    </div>

    <!-- 3. Operator -->
    <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !operator_id.valid }">
      <label for="operator_id" i18n="Observation creation/edition|Label for the operator field">Operator</label>
      <select id="operator_id" name="operator_id" [(ngModel)]="operator" #operator_id="ngModel" required>
        <option [value]="null" disabled i18n="Observation creation/edition">Select an operator</option>
        <option *ngFor="let operator of operators" [ngValue]="operator">{{ operator.name }}</option>
      </select>
      <div *ngIf="f.submitted && !operator_id.valid" class="help-text" i18n="Observation creation/edition|Error message if the operator isn't supplied (the user will have to user between some options)">Please select an operator</div>
    </div>

    <!-- 4. Additional monitors -->
    <div class="form-group">
      <label i18n="Observation creation/edition|Label for the additional monitors field">Additional monitors</label>
      <ss-multiselect-dropdown [options]="additionalObserversOptions" [(ngModel)]="_additionalObserversSelection" (ngModelChange)="onChangeAdditionalObserversOptions($event)" name="additional_observers"></ss-multiselect-dropdown>
    </div>

    <!-- 5. Location -->
    <fieldset>
      <legend i18n="Observation creation/edition|Title of a section of the form">Location</legend>
      <div class="fieldset-container">

        <!-- 4.1. Forest management unit -->
        <div class="form-group">
          <label for="fmu_field" i18n="Observation creation/edition|Label for the forest management unit field">Forest management unit</label>
          <select id="fmu_field" name="fmu_field" [(ngModel)]="fmu" #fmu_field="ngModel">
            <option [value]="null" disabled i18n="Observation creation/edition">Select a FMU</option>
            <option *ngFor="let fmu of fmus" [ngValue]="fmu">{{ fmu.name }}</option>
          </select>
        </div>

        <!-- 4.2. GPS coordinates -->
        <fieldset>
          <legend i18n="Observation creation/edition|Title of a section of the form">GPS coordinates</legend>
          <div class="fieldset-container">
            <!-- 4.2.0. Map -->
            <div class="form-group">
              <div leaflet [leafletOptions]="mapOptions" [leafletLayers]="mapLayers" (leafletMapReady)="onMapReady($event)" class="map">
              </div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !latitude_field.valid }">
              <label for="latitude_field" i18n="Observation creation/edition|Label for the latitude field">Latitude</label>
              <input id="latitude_field" type="text" class="form-control" name="latitude_field" [(ngModel)]="latitude" #latitude_field="ngModel" number/>
              <div *ngIf="f.submitted && latitude_field.errors?.number" class="help-text" i18n="Observation creation/edition|Error message if the latitude isn't valid">Please enter a valid number</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !longitude_field.valid }">
              <label for="longitude_field" i18n="Observation creation/edition|Label for the longitude field">Longitude</label>
              <input id="longitude_field" type="text" class="form-control" name="longitude_field" [(ngModel)]="longitude" #longitude_field="ngModel" number/>
              <div *ngIf="f.submitted && longitude_field.errors?.number" class="help-text" i18n="Observation creation/edition|Error message if the longitude isn't valid">Please enter a valid number</div>
            </div>
          </div>
        </fieldset>
      </div>
    </fieldset>

    <!-- 6. Observation according to legal text -->
    <div class="form-group">
      <label i18n="Observation creation/edition|Label for the observation according to legal text field">Observation according to legal text</label>
    </div>

    <!-- 7. Observation category -->
    <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !subcategory_id.valid }">
      <label for="subcategory_id" i18n="Observation creation/edition|Label for the observation category field">Observation category</label>
      <select if="subcategory_id" name="subcategory_id" [(ngModel)]="subcategory" #subcategory_id="ngModel" required>
        <option [value]="null" disabled i18n="Observation creation/edition">Select an observation category</option>
        <option *ngFor="let subcategory of subcategories" [ngValue]="subcategory">{{ subcategory.name }}</option>
      </select>
      <div *ngIf="f.submitted && !subcategory_id.valid" class="help-text" i18n="Observation creation/edition|Error message if the observation category isn't supplied (the user will have to user between some options)">Please select an observation category</div>
    </div>

    <!-- 8. Observation details -->
    <div class="form-group">
      <label for="details_field" i18n="Observation creation/edition|Label for the observation details field">Observation details</label>
      <textarea id="details_field" name="details_field" [(ngModel)]="details" #details_field="ngModel"></textarea>
    </div>

    <!-- 9. Due dilegence category -->
    <div class="form-group">
      <label i18n="Observation creation/edition|Label for the due diligence category field">Due diligence category</label>
    </div>

    <!-- 10. Evidence -->
    <fieldset>
      <legend i18n="Observation creation/edition|Title of a section of the form">Evidence</legend>
      <div class="fieldset-container">
      </div>
    </fieldset>

    <!-- 11. Severity -->
    <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !severity_id.valid }">
      <label for="severity_id" i18n="Observation creation/edition|Label for the severity field">Severity</label>
      <select id="severity_id" name="severity_id" [(ngModel)]="severity" #severity_id="ngModel" required>
        <option [value]="null" disabled i18n="Observation creation/edition">Select a severity</option>
        <option *ngFor="let severity of severities" [ngValue]="severity">{{ severity.level }}</option>
      </select>
      <div *ngIf="severity" class="note">{{ severity.details }}</div>
      <div *ngIf="f.submitted && !severity_id.valid" class="help-text" i18n="Observation creation/edition|Error message if the severity isn't supplied (the user will have to user between some options)">Please select a severity</div>
    </div>

    <!-- 12. Actions taken by operator -->
    <div class="form-group">
      <label for="actions_taken" i18n="Observation creation/edition|Label for the actions taken by operator field">Actions taken by operator</label>
      <textarea id="action_taken" name="action_taken" [(ngModel)]="actions" #action_taken="ngModel"></textarea>
    </div>

    <!-- 13. Opinion of the operator -->
    <div class="form-group">
      <label for="concern_opinion" i18n="Observation creation/edition|Label for the opinion of the operator field">Opinion of the operator</label>
      <textarea id="concern_opinion" name="concern_opinion" [(ngModel)]="opinion" #concern_opinion="ngModel"></textarea>
    </div>

    <!-- 14. Law enforcement -->
    <fieldset>
      <legend i18n="Observation creation/edition|Title of a section of the form">Law enforcement</legend>
      <div class="fieldset-container">
        <!-- 14.1. Status -->
        <div class="form-group">
          <label i18n="Observation creation/edition|Label for the status field">Status</label>
        </div>

        <!-- 14.2. Citation -->
        <div class="form-group">
          <label for="pv_field" i18n="Observation creation/edition|Label for the PV field">PV</label>
          <input id="pv_field" type="text" class="form-control" name="pv_field" [(ngModel)]="pv" #pv_field="ngModel" />
        </div>

        <!-- 14.3. Details -->
        <div class="form-group">
          <label i18n="Observation creation/edition|Label for the details field">Details</label>
        </div>
      </div>
    </fieldset>

    <!-- 15. Legal -->
    <fieldset>
      <legend i18n="Observation creation/edition|Title of a section of the form">Legal</legend>
      <div class="fieldset-container">
        <!-- 15.1. Legal reference (infraction) -->
        <div class="form-group">
          <label i18n="Observation creation/edition|Label for the legal reference (infraction) field">Legal reference (infraction)</label>
        </div>

        <!-- 15.2. Legal reference (sanction) -->
        <div class="form-group">
          <label i18n="Observation creation/edition|Label for the legal reference (sanction) field">Legal reference (sanction)</label>
        </div>

        <!-- 15.3. Minimum fine -->
        <div class="form-group">
          <label i18n="Observation creation/edition|Label for the minimum fine field">Minimum fine</label>
        </div>

        <!-- 15.4. Maximum fine -->
        <div class="form-group">
          <label i18n="Observation creation/edition|Label for the maximum fine field">Maximum fine</label>
        </div>

        <!-- 15.5. Penal servitude -->
        <div class="form-group">
          <label i18n="Observation creation/edition|Label for the penal servitude field">Penal servitude</label>
        </div>

        <!-- 15.6. Other penalties -->
        <div class="form-group">
          <label i18n="Observation creation/edition|Label for the other penalties field">Other penalties</label>
        </div>

        <!-- 15.7. FLEGT indicator -->
        <div class="form-group">
          <label i18n="Observation creation/edition|Label for the FLEGT indicator field">FLEGT indicator</label>
        </div>
      </div>
    </fieldset>

    <!-- 16. Publication date -->
    <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !publication_date.valid }">
      <label for="publication_date" i18n="Observation creation/edition|Label for the publication date field">Publication date</label>
      <otp-datepicker [id]="'publication_date'" [name]="'publication_date'" [(ngModel)]="publicationDate" #publication_date="ngModel" required></otp-datepicker>
      <div *ngIf="f.submitted && publication_date.errors?.required" class="help-text" i18n="Observation creation/edition|Error message if the publication date of a project isn't supplied">Publication date is required</div>
    </div>

    <!-- 17. Metadata -->
    <fieldset *ngIf="observation">
      <legend i18n="Observation creation/edition|Title of a section of the form">Metadata</legend>
      <div class="fieldset-container">
        <!-- 17.1. Last modification by -->
        <div class="form-group">
          <label for="last_modification_by" i18n="Observation creation/edition|Label for the last modification by field">Last modification by</label>
          <input id="last_modification_by" type="text" class="form-control" name="last_modification_by" [(ngModel)]="observation['modified-user'].name" #last_modification_by="ngModel" disabled />
        </div>

        <!-- 17.1. Last modified on -->
        <div class="form-group">
          <label for="last_modified_on" i18n="Observation creation/edition|Label for the last modified on field">Last modified on</label>
          <otp-datepicker [id]="'last_modified_on'" [name]="'last_modified_on'" [(ngModel)]="observation['updated-at']" #last_modified_on="ngModel" disabled></otp-datepicker>
        </div>
      </div>
    </fieldset>

  </div>

  <div class="form-container" *ngIf="type === 'government'">
    <!-- 1. Report -->
    <fieldset>
      <legend i18n="Observation creation/edition|Title of a section of the form">Report</legend>
      <div class="fieldset-container">
      </div>
    </fieldset>

    <!-- 2. Country -->
    <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !country_id.valid }">
      <label for="country_id" i18n="Observation creation/edition|Label for the country field">Country</label>
      <select id="country_id" name="country_id" [(ngModel)]="country" #country_id="ngModel" required>
        <option [value]="null" disabled i18n="Observation creation/edition">Select a country</option>
        <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
      </select>
      <div *ngIf="f.submitted && !country_id.valid" class="help-text" i18n="Observation creation/edition|Error message if the country isn't supplied (the user will have to user between some options)">Please select a country</div>
    </div>

    <!-- 3. Government entity -->
    <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !government_id.valid }">
      <label for="government_id" i18n="Observation creation/edition|Label for the government entity field">Government entity</label>
      <select id="government_id" name="government_id" [(ngModel)]="government" #government_id="ngModel" required>
        <option [value]="null" disabled i18n="Observation creation/edition">Select a government entity</option>
        <option *ngFor="let government of governments" [ngValue]="government">{{ government['government-entity'] }}</option>
      </select>
      <div *ngIf="f.submitted && !government_id.valid" class="help-text" i18n="Observation creation/edition|Error message if the government entity isn't supplied (the user will have to user between some options)">Please select a government entity</div>
    </div>

    <!-- 4. Governance problem -->
    <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !subcategory_id.valid }">
      <label for="subcategory_id" i18n="Observation creation/edition|Label for the governance problem field">Governance problem</label>
      <select if="subcategory_id" name="subcategory_id" [(ngModel)]="subcategory" #subcategory_id="ngModel" required>
        <option [value]="null" disabled i18n="Observation creation/edition">Select a governance problem</option>
        <option *ngFor="let subcategory of subcategories" [ngValue]="subcategory">{{ subcategory.name }}</option>
      </select>
      <div *ngIf="f.submitted && !subcategory_id.valid" class="help-text" i18n="Observation creation/edition|Error message if the governance problem isn't supplied (the user will have to user between some options)">Please select a governance problem</div>
    </div>

    <!-- 5. Additional monitors -->
    <div class="form-group">
      <label i18n="Observation creation/edition|Label for the additional monitors field">Additional monitors</label>
      <ss-multiselect-dropdown [options]="additionalObserversOptions" [(ngModel)]="_additionalObserversSelection" (ngModelChange)="onChangeAdditionalObserversOptions($event)" name="additional_observers"></ss-multiselect-dropdown>
    </div>

    <!-- 6. Description -->
    <div class="form-group">
      <label for="details_field" i18n="Observation creation/edition|Label for the description field">Description</label>
      <textarea id="details_field" name="details_field" [(ngModel)]="details" #details_field="ngModel"></textarea>
    </div>

    <!-- 7. Evidence -->
    <fieldset>
      <legend i18n="Observation creation/edition|Title of a section of the form">Evidence</legend>
      <div class="fieldset-container">
      </div>
    </fieldset>

    <!-- 8. Severity -->
    <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !severity_id.valid }">
      <label for="severity_id" i18n="Observation creation/edition|Label for the severity field">Severity</label>
      <select id="severity_id" name="severity_id" [(ngModel)]="severity" #severity_id="ngModel" required>
        <option [value]="null" disabled i18n="Observation creation/edition">Select a severity</option>
        <option *ngFor="let severity of severities" [ngValue]="severity">{{ severity.level }}</option>
      </select>
      <div *ngIf="severity" class="note">{{ severity.details }}</div>
      <div *ngIf="f.submitted && !severity_id.valid" class="help-text" i18n="Observation creation/edition|Error message if the severity isn't supplied (the user will have to user between some options)">Please select a severity</div>
    </div>

    <!-- 9. Actions taken by government -->
    <div class="form-group">
      <label for="actions_taken" i18n="Observation creation/edition|Label for the actions taken by government field">Actions taken by government</label>
      <textarea id="action_taken" name="action_taken" [(ngModel)]="actions" #action_taken="ngModel"></textarea>
    </div>

    <!-- 10. Publication date -->
    <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !publication_date.valid }">
      <label for="publication_date" i18n="Observation creation/edition|Label for the publication date field">Publication date</label>
      <otp-datepicker [id]="'publication_date'" [name]="'publication_date'" [(ngModel)]="publicationDate" #publication_date="ngModel" required></otp-datepicker>
      <div *ngIf="f.submitted && publication_date.errors?.required" class="help-text" i18n="Observation creation/edition|Error message if the publication date of a project isn't supplied">Publication date is required</div>
    </div>

    <!-- 11. Metadata -->
    <fieldset *ngIf="observation">
      <legend i18n="Observation creation/edition|Title of a section of the form">Metadata</legend>
      <div class="fieldset-container">
        <!-- 11.1. Last modification by -->
        <div class="form-group">
          <label for="last_modification_by" i18n="Observation creation/edition|Label for the last modification by field">Last modification by</label>
          <input id="last_modification_by" type="text" class="form-control" name="last_modification_by" [(ngModel)]="observation['modified-user'].name" #last_modification_by="ngModel" disabled />
        </div>

        <!-- 11.1. Last modified on -->
        <div class="form-group">
          <label for="last_modified_on" i18n="Observation creation/edition|Label for the last modified on field">Last modified on</label>
          <otp-datepicker [id]="'last_modified_on'" [name]="'last_modified_on'" [(ngModel)]="observation['updated-at']" #last_modified_on="ngModel" disabled></otp-datepicker>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form-footer">
    <div class="c-container -j-end -t-d-column -t-a-start" *otpMinTablet>
      <div class="c-button-container -j-end form-group">
        <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary" i18n="Cancel button">Cancel</button>
        <button *ngIf="!observation" disable="loading" type="submit" class="c-button -primary" i18n="Create button">Create</button>
      <button *ngIf="observation" disable="loading" type="submit" class="c-button -primary" i18n="Save button">Save</button>
      </div>
    </div>

    <otp-action-bar *otpMaxTablet>
      <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary" i18n="Cancel button">Cancel</button>
      <button *ngIf="!observation" disable="loading" type="submit" class="c-button -primary" i18n="Create button">Create</button>
      <button *ngIf="observation" disable="loading" type="submit" class="c-button -primary" i18n="Save button">Save</button>
    </otp-action-bar>
  </div>

</form>
