@import 'src/settings.scss';

:host {
  display: block;

  @media screen and (min-width: $break-tablet) {
    margin-top: 20px;
  }

  .map {
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 3px;
    z-index: 1; // Needed for the border-radius to apply

    @media screen and (min-width: $break-tablet) {
      height: 350px;
    }
  }

  .documents-list {
    padding: 0;
    border-top: 1px solid $lighter-grey;
    border-bottom: 1px solid $lighter-grey;

    > li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;

      &:not(:last-of-type) {
        border-bottom: 1px solid $lighter-grey;
      }

      .title {
        font-weight: $font-weight-medium;
      }

      .status {
        font-size: 0.8125rem;
      }
    }
  }
}
