@use 'src/settings.scss';

:host {
  display: block;

  @media screen and (min-width: settings.$break-tablet) {
    margin-top: 20px;
  }

  a[download] {
    color: settings.$color-primary;
    text-decoration: underline;
  }

  .callout {
    font-size: settings.$font-size-medium;

    blockquote {
      font-style: italic;
    }
  }

  .use-as-evidence {
    margin-top: 15px;
  }

  input[type='file'].filled {
    color: transparent;
  }

  .geo-note {
    color: settings.$color-primary;
    font-size: settings.$font-size-medium;
    font-weight: settings.$font-weight-bold;
    margin-top: 10px;
  }

  .map {
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 3px;
    z-index: 1; // Needed for the border-radius to apply

    @media screen and (min-width: settings.$break-tablet) {
      height: 350px;
    }
  }

  .new-producer-form {
    margin-top: 10px;
  }

  .new-producer-checkbox {
    margin-top: 10px;
  }

  .documents-list {
    padding: 0;
    border-top: 1px solid settings.$lighter-grey;
    border-bottom: 1px solid settings.$lighter-grey;
    max-height: 400px;
    overflow: auto;

    a {
      color: settings.$color-primary;
      text-decoration: underline;
    }

    .actions {
      display: flex;
      gap: 5px;
      max-width: 40%;

      button {
        white-space: nowrap;
      }
    }

    > li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;

      &:not(:last-of-type) {
        border-bottom: 1px solid settings.$lighter-grey;
      }

      .title {
        font-weight: settings.$font-weight-medium;
      }

      .status {
        font-size: 0.8125rem;
      }
    }
  }
}
