<spinner class="center" *ngIf="loading" [tickness]="1" [size]="20"></spinner>
<form name="form" class="c-form" (ngSubmit)="f.valid && onSubmit(f.value, $event)" #f="ngForm" novalidate>
  <div class="c-container -j-between -t-d-column -t-a-start">
    <h2>{{titleText}}</h2>
    <div class="c-button-container -j-end form-group" *otpMinTablet>
      <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary">Cancel</button>
      <button disable="loading" type="submit" class="c-button -primary">Update</button>
    </div>
  </div>

  <div class="form-header">
    <div class="form-group">
      <label for="observation_type">Type</label>
      <select disabled id="observation_type" name="observation_type"
        [(ngModel)]="observation && observation.observation_type" #observation_type="ngModel">
          <option selected value="AnnexOperator">Operator</option>
          <option value="AnnexGovernance">Governance</option>
      </select>
    </div>
  </div>

  <div class="form-container">
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !country_id.valid }">
      <label for="country_id">Country</label>
      <select id="country_id" (change)="onCountryChange(country_id.value)" name="country_id"
        [(ngModel)]="observation && observation.country.id" #country_id="ngModel" required>
        <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
      </select>
      <div *ngIf="f.submitted && !country_id.valid" class="help-text">Please select a country</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !latitude.valid }">
      <label for="latitude">Latitude</label>
      <input id="latitude" type="text" class="form-control" name="latitude" [(ngModel)]="observation && observation.lat"
        #latitude="ngModel" required number/>
      <div *ngIf="f.submitted && latitude.errors?.required" class="help-text">Latitude is required</div>
      <div *ngIf="f.submitted && latitude.errors?.number && !latitude.errors?.required" class="help-text">Please enter a valid number</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !longitude.valid }">
      <label for="longitude">Longitude</label>
      <input id="longitude" type="text" class="form-control" name="longitude" [(ngModel)]="observation && observation.lng"
        #longitude="ngModel" required number/>
      <div *ngIf="f.submitted && longitude.errors?.required" class="help-text">Longitude is required</div>
      <div *ngIf="f.submitted && longitude.errors?.number && !longitude.errors?.required" class="help-text">Please enter a valid number</div>
    </div>

    <div *ngIf="isGovernance" class="form-group" [ngClass]="{ 'has-error': f.submitted && !annex_governance_id.valid }">
      <label for="annex_governance_id">Sub-category</label>
      <select id="annex_governance_id" (change)="onAnnexGovernanceChange(annex_governance_id.value)" name="annex_governance_id"
        [(ngModel)]="observation && observation.annex_governance.id" #annex_governance_id="ngModel" required>
        <option *ngFor="let annexGovernance of annexGovernances" [value]="annexGovernance.id">{{ annexGovernance.governance_problem }}</option>
      </select>
      <div *ngIf="f.submitted && !annex_governance_id.valid" class="help-text">Please select a sub-category</div>
    </div>

    <div *ngIf="!isGovernance" class="form-group" [ngClass]="{ 'has-error': f.submitted && !annex_operator_id.valid }">
      <label for="annex_operator_id">Sub-category</label>
      <select id="annex_operator_id" (change)="onAnnexOperatorChange(annex_operator_id.value)" name="annex_operator_id"
        [(ngModel)]="observation && observation.annex_operator.id" #annex_operator_id="ngModel" required>
        <option *ngFor="let annexOperator of annexOperators" [value]="annexOperator.id">{{ annexOperator.illegality }}</option>
      </select>
      <div *ngIf="f.submitted && !annex_operator_id.valid" class="help-text">Please select a sub-category</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !severity_id.valid }">
      <label for="severity_id">Severity</label>
      <select id="severity_id" name="severity_id" [(ngModel)]="observation && observation.severity && observation.severity.id"
        #severity_id="ngModel" required>
        <option *ngFor="let severity of severities" [value]="severity.id">{{ severity.level }} - {{ severity.details }}</option>
      </select>
      <div *ngIf="f.submitted && !severity_id.valid" class="help-text">Please select a severity</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !publication_date.valid }">
      <label for="publication_date">Publication date</label>
      <otp-datepicker [id]="'publication_date'" [name]="'publication_date'" [(ngModel)]="observation && observation.publication_date" #publication_date="ngModel" required></otp-datepicker>
      <div *ngIf="f.submitted && !publication_date.valid" class="help-text">Publication date is required</div>
    </div>

    <div *ngIf="isGovernance" class="form-group" [ngClass]="{ 'has-error': f.submitted && !government_id.valid }">
      <label for="government_id">Government Entity</label>
      <select id="government_id" name="government_id" [(ngModel)]="observation && observation.government && observation.government.id" #government_id="ngModel" required>
        <option *ngFor="let government of governments" [value]="government.id">{{ government.government_entity }}</option>
      </select>
      <div *ngIf="f.submitted && !government_id.valid" class="help-text">Please select a government entity</div>
    </div>

    <div *ngIf="!isGovernance" class="form-group">
      <label for="pv">PV</label>
      <input id="pv" type="text" class="form-control" name="pv" [(ngModel)]="observation && observation.pv" #pv="ngModel"  />
    </div>

    <div *ngIf="!isGovernance" class="form-group">
      <label for="concern_opinion">Opinion of operator</label>
      <input id="concern_opinion" type="text" class="form-control" name="concern_opinion"
        [(ngModel)]="observation && observation.concern_opinion" #concern_opinion="ngModel"  />
    </div>

    <div *ngIf="!isGovernance" class="form-group">
      <label for="litigation_status">Litigation status</label>
      <input id="litigation_status" type="text" class="form-control" name="litigation_status"
        [(ngModel)]="observation && observation.litigation_status" #litigation_status="ngModel"  />
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !observer_id.valid }">
      <label for="observer_id">Monitor</label>
      <select id="observer_id" name="observer_id" [(ngModel)]="observation && observation.observer.id" #observer_id="ngModel" required>
        <option *ngFor="let observer of observers" [value]="observer.id">{{ observer.name }}</option>
      </select>
      <div *ngIf="f.submitted && !observer_id.valid" class="help-text">Please select an observer</div>
    </div>

    <div *ngIf="!isGovernance" class="form-group" [ngClass]="{ 'has-error': f.submitted && !operator_id.valid }">
      <label for="operator_id">Operator</label>
      <select id="operator_id" name="operator_id" [(ngModel)]="observation && observation.operator && observation.operator.id" #operator_id="ngModel" required>
        <option *ngFor="let operator of operators" [value]="operator.id">{{ operator.name }}</option>
      </select>
      <div *ngIf="f.submitted && !operator_id.valid" class="help-text">Please select an operator</div>
    </div>

    <div class="form-group">
      <label for="is_active">Active</label>
      <input id="is_active" type="checkbox" name="is_active" [(ngModel)]="observation && observation.is_active" #is_active="ngModel" />
    </div>

    <div class="form-group">
      <label for="details">Details</label>
      <textarea id="details" name="details" [(ngModel)]="observation && observation.details" #details="ngModel"></textarea>
    </div>

    <div class="form-group">
      <label for="evidence">Evidence</label>
      <input id="evidence" type="text" class="form-control" name="evidence" [(ngModel)]="observation && observation.evidence" #evidence="ngModel"  />
    </div>
  </div>


  <div class="c-container -j-end -t-d-column -t-a-start" *otpMinTablet>
    <div class="c-button-container -j-end form-group">
      <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary">Cancel</button>
      <button disable="loading" type="submit" class="c-button -primary">Update</button>
    </div>
  </div>

  <otp-action-bar *otpMaxTablet>
    <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary">Cancel</button>
    <button disable="loading" type="submit" class="c-button -primary">Update</button>
  </otp-action-bar>
</form>
