@import 'src/settings.scss';

:host {
  display: block;
  margin-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: $break-tablet) {
    otp-navigation {
      margin-left: 20px;
    }
  }
}

:host /deep/ .ngx-datatable .datatable-body-cell {
  -webkit-user-select: initial!important;
  -moz-user-select: initial!important;
  -ms-user-select: initial!important;
  -o-user-select: initial!important;
  user-select:initial!important;
}
