<div class="c-container -j-between -t-d-column -t-a-start">
  <div class="c-button-container -j-end">
    <button (click)="triggerNewSpecies()" class="c-button -primary">
      New species
    </button>
  </div>
</div>

<otp-table caption="Species">
  <otp-table-column prop="name" name="Name"></otp-table-column>
  <otp-table-column prop="species_class" name="Species Class"></otp-table-column>
  <otp-table-column prop="scientific_name" name="Scientific Name"></otp-table-column>
  <otp-table-column name="Actions">
     <ng-template let-row="row" table-cell-template>
       <button class="action" (click)="onEdit(row)"><otp-icon name="#icon-edit"></otp-icon></button>
       <button class="action" (click)="onDelete(row)"><otp-icon name="#icon-delete"></otp-icon></button>
     </ng-template>
  </otp-table-column>
</otp-table>
