<div class="c-container -j-between">
  <h2>Species ({{species.length}})</h2>
  <div class="c-button-container -j-end">
    <button (click)="triggerNewSpecies()" class="c-button -primary">
      New species
    </button>
  </div>
</div>
<ngx-datatable class="wri"
  #table
  [rows]="species"
  columnMode="force"
  headerHeight=false
>
  <ngx-datatable-column prop="name" name="Name">
  </ngx-datatable-column>
  <ngx-datatable-column prop="species_class" name="Species Class">
  </ngx-datatable-column>
  <ngx-datatable-column prop="scientific_name" name="Scientific Name">
  </ngx-datatable-column>
</ngx-datatable>
