@import 'src/settings.scss';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: ($bottom-bar-height / 2); // We compensate the wrapper bottom padding
  height: calc(100vh - #{84px + $bottom-bar-height}); // 84px = header's height

  @media screen and (min-width: $break-tablet) {
    height: calc(100vh - #{89px + $bottom-bar-height}); // 89px = header's height
  }

  > .l-wrapper {
    width: 100%;
  }

  .login-container {
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
  }
}
