<button type="button" *ngIf="filters.length" class="c-button -secondary add-filter" (click)="modalOpen = true">{{'Add filter' | translate}}</button>

<ng-container *ngFor="let filter of filters">
  <div class="filter" *ngIf="hasValue(filter)">
    <select [attr.aria-label]="filter.name" [(ngModel)]="filter.selected" (change)="change.emit()">
      <option value="" disabled>{{filter.name}}</option>
      <option *ngFor="let key of objectKeys(filter.values)" [value]="filter.values[key]">{{key}}</option>
      <option [ngValue]="null" [disabled]="filter.required">{{'Remove filter' | translate}}</option>
    </select>
  </div>
</ng-container>

<otp-modal [title]="'Table filters' | translate" [opened]="modalOpen" [closeable]="false" (onClose)="modalOpen = false">
  <h2>{{'Filter by' | translate}}</h2>

  <div class="filters">
    <div *ngFor="let filter of filters">
      <label [for]="'filter-modal-' + filter.prop">{{filter.name}}</label>
      <select [id]="'filter-modal-' + filter.prop" [(ngModel)]="filter.selected" (change)="onChangeFilter(true)">
        <option [ngValue]="null" [disabled]="filter.required">{{'Not filtering' | translate}}</option>
        <option *ngFor="let key of objectKeys(filter.values)" [value]="filter.values[key]">{{key}}</option>
      </select>
    </div>
  </div>

  <div *otpMinTablet class="c-container -j-between">
    <button  type="button" (click)="onCancel()" class="c-button -secondary">{{'Reset filters' | translate}}</button>
    <button  type="submit" (click)="onDone()" class="c-button -primary">{{'Done' | translate}}</button>
  </div>

  <otp-action-bar *otpMaxTablet>
    <button  type="button" (click)="onCancel()" class="c-button -secondary">{{'Reset filters' | translate}}</button>
    <button  type="submit" (click)="onDone()" class="c-button -primary">{{'Done' | translate}}</button>
  </otp-action-bar>
</otp-modal>
