<div class="pre-header">
  <div class="l-wrapper">
    <a href="http://www.wri.org/" rel="noopener" *otpMaxTablet><img src="assets/wri-monoline-mbl.svg" alt="World Resources Institute" /></a>
    <a href="http://www.wri.org/" rel="noopener" *otpMinTablet><img src="assets/wri-monoline.svg" alt="World Resources Institute" /></a>
  </div>
</div>
<otp-header></otp-header>
<router-outlet></router-outlet>
<ng-template [ngIf]="isLogged">
  <otp-bottom-bar *otpMaxTablet></otp-bottom-bar>
</ng-template>
