@use 'src/settings.scss';

:host {
  display: block;
  // This padding is necessary to avoid the content being below the
  // bottom-bar component
  padding-bottom: settings.$bottom-bar-height;

  @media screen and (min-width: settings.$break-tablet) {
    padding-bottom: 0;
  }

  .pre-header {
    // TODO
    color: white;
    line-height: 30px;

    height: 30px;
    text-align: right;
    background-color: settings.$dark-grey;

    @media screen and (min-width: settings.$break-tablet) {
      height: 35px;
    }
  }
}
