@import 'src/settings.scss';

:host {
  display: block;
  background: $white;
  border-bottom: 1px solid $lighter-grey;

  h1 {
    font-size: $font-size-huge;
    font-weight: $font-weight-thin;
    margin: 0;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-right: 10px;
        padding: 0 10px;
        color: $grey;

        &:last-of-type {
          margin-right: 0;
          cursor: pointer;
        }
      }
    }
  }

  // We move the navigation 10px to the left to compensate
  // the inner padding of the first element
  otp-navigation {
    position: relative;
    left: -10px;
  }
}
