<div class="l-wrapper">
  <otp-loader fixed overlay *ngIf="loading"></otp-loader>
  <form class="c-form" name="form" (ngSubmit)="f.valid && onSubmit(f.value)" #f="ngForm" novalidate>
    <h2>{{'Register' | translate}}</h2>

    <div class="form-container">
      <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
        <label for="name">{{'Name' | translate}}</label>
        <input id="name" type="text" class="form-control" name="name" ngModel #name="ngModel" required />
        <div *ngIf="f.submitted && !name.valid" class="help-text">{{'Please enter your name' | translate}}</div>
      </div>

      <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !nickname.valid }">
        <label for="nickname">{{'Username' | translate}}</label>
        <input id="nickname" type="text" class="form-control" name="nickname" ngModel #nickname="ngModel" required />
        <div *ngIf="f.submitted && !nickname.valid" class="help-text">{{'Please enter a username' | translate}}</div>
      </div>

      <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !observer_id.valid }">
        <label for="observer_id">{{'Organization' | translate}}</label>
        <select id="observer_id" name="observer_id" ngModel #observer_id="ngModel" required>
          <option value="" disabled>{{'Select an organization' | translate}}</option>
          <option *ngFor="let observer of observers" [value]="observer.id">{{ observer.name }}</option>
        </select>
        <p class="note" [innerHTML]="'organization.missing' | translate"></p>
        <div *ngIf="f.submitted && !observer_id.valid" class="help-text">{{'Please select an organization' | translate}}</div>
      </div>

      <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !country_id.valid }">
        <label for="country_id">{{'Country' | translate}}</label>
        <select id="country_id" name="country_id" ngModel #country_id="ngModel" required>
          <option value="" disabled>{{'Select a country' | translate}}</option>
          <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
        </select>
        <div *ngIf="f.submitted && !country_id.valid" class="help-text">{{'Please select a country' | translate}}</div>
      </div>

      <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <label for="email">{{'Email' | translate}}</label>
        <input id="email" type="email" class="form-control" name="email" ngModel #email="ngModel" required email />
        <p *ngIf="f.submitted && email.errors?.required" class="help-text">{{'Email is required' | translate}}</p>
        <p *ngIf="f.submitted && email.errors?.email && !email.errors?.required" class="help-text">{{'Please enter your email address' | translate}}</p>
      </div>

      <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">{{'Password' | translate}}</label>
        <input id="password" type="password" class="form-control" name="password" ngModel #password="ngModel" required />
        <div *ngIf="f.submitted && !password.valid" class="help-text">{{'Please enter a password' | translate}}</div>
      </div>

      <div class="form-group -required" [ngClass]="{ 'has-error': f.submitted && !password_confirmation.valid }">
        <label for="password_confirmation">{{'Confirm your password' | translate}}</label>
        <input id="password_confirmation" type="password" ngModel class="form-control" name="password_confirmation" #password_confirmation="ngModel" [equalTo]="password" required />
        <div *ngIf="f.submitted && password_confirmation.errors?.required" class="help-text">{{'Please confirm your password' | translate}}</div>
        <div *ngIf="f.submitted && password_confirmation.errors?.equalTo && !password_confirmation.errors?.required" class="help-text">{{"Password values don't not coincide" | translate}}</div>
      </div>
    </div>

    <div class="form-footer">
      <div class="c-container -j-end -t-d-column -t-a-start" *otpMinTablet>
        <div class="c-button-container -j-end form-group">
          <a [routerLink]="['/']" class="c-button -secondary">{{'Login' | translate}}</a>
          <button  type="submit" class="c-button -primary">{{'Register' | translate}}</button>
        </div>
      </div>
    </div>

    <otp-action-bar *otpMaxTablet>
      <a [routerLink]="['/']" class="c-button -secondary">{{'Login' | translate}}</a>
      <button  type="submit" class="c-button -primary">{{'Register' | translate}}</button>
    </otp-action-bar>
  </form>
</div>




