
@import 'src/settings.scss';

.c-sidebar {
  width: $sidebar-width;
  height: 100%;
  position: fixed;
  background-color: $dark-grey;
  color: $white;
  top: 0;
  left: 0;
  text-align: center;
}

.profile-pic {
  cursor: pointer;
  clip-path: circle(30px at center);
}

.list-group {
  margin-bottom: 1rem;
  box-shadow: none;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.list-group > :last-child {
  margin-bottom: 0;
}

.list-group-item {
  text-decoration: none;
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.list-group-item > :last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.list-group-item.active {
  color: #fefefe;
  background-color: #e6e6e6;
}

.list-group-item:hover, .list-group-item:focus {
  background-color: #e6e6e6;
  cursor: pointer;
}

.list-group-item:hover.active, .list-group-item:focus.active {
  background-color: #e6e6e6;
}


