<nav class="c-sidebar">
  <img src="assets/otp_logo.png" class="profile-pic"/>
  <p>
    Name Surname
  </p>
  <p>
    ADMIN
  <p>
  <div class="list-group">
    <a class="list-group-item" routerLink="/private/observations" active>Observations</a>
    <a *ngIf="admin" class="list-group-item" routerLink="/private/fields">Observation fields</a>
    <a *ngIf="admin" class="list-group-item" routerLink="/private/users">Users</a>
    <a class="list-group-item" routerLink="/private/profile">Profile</a>
  </div>
</nav>
