<div class="c-container -j-between -t-d-column -t-a-start">
  <h2>Countries ({{countries.length}})</h2>
  <div class="c-button-container -j-end">
    <button (click)="triggerNewCountry()" class="c-button -primary">
      New Country
    </button>
  </div>
</div>
<ngx-datatable class="wri"
  #table
  [rows]="countries"
  columnMode="force"
  headerHeight=false
>
  <ngx-datatable-column prop="name" name="Name">
  </ngx-datatable-column>
  <ngx-datatable-column prop="iso" name="ISO">
  </ngx-datatable-column>
  <ngx-datatable-column prop="region_name" name="Region Name">
  </ngx-datatable-column>
  <ngx-datatable-column prop="is_active" name="Active">
  </ngx-datatable-column>
  <ngx-datatable-column name="Actions">
     <ng-template let-row="row" ngx-datatable-cell-template>
       <button class="action" (click)="onEdit(row)"><otp-icon name="#icon-edit"></otp-icon></button>
       <button class="action" (click)="onDelete(row)"><otp-icon name="#icon-delete"></otp-icon></button>
     </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
