:host {

  ul {
    display: flex;
    height: 50px;
    align-items: stretch;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      justify-content: center;
      align-items:  center;
      width: 100%;
      padding: 0 10px;
      text-align: center;
      border: 1px solid transparent;
      border-bottom: 1px solid grey;
      text-transform: uppercase;
      font-size: .75em;
      line-height: 1;
      cursor: pointer;

      &.active {
        border-top: 1px solid grey;
        border-right: 1px solid grey;
        border-left: 1px solid grey;
        border-bottom-color: transparent;
        background-color: #F4F4F4;
      }

      &:first-of-type {
        border-left: 0;
      }

      &:last-of-type {
        border-right: 0;
      }
    }
  }

}
