<div class="c-table-header">
  <otp-filters>
    <otp-filter i18n-name="Table of monitors|Name of a filter" name="Type" prop="observer-type"></otp-filter>
    <otp-filter i18n-name="Table of monitors|Name of a filter" name="Active" prop="is-active" [values]="[true, false]"></otp-filter>
  </otp-filters>
  <button (click)="triggerNewObserver()" class="c-button -primary" i18n="Button to create a new monitor">
    New Monitor
  </button>
</div>

<otp-table caption="Monitors">
  <otp-table-column i18n-name="Table of monitors|Name of the column corresponding to the name of the monitors" prop="name" name="Name"></otp-table-column>
  <otp-table-column i18n-name="Table of monitors|Name of the column corresponding to the type of monitors" prop="observer-type" name="Type"></otp-table-column>
  <otp-table-column i18n-name="Table of monitors|Name of the column corresponding to the organizations of the monitors" prop="organization" name="Organization"></otp-table-column>
  <otp-table-column i18n-name="Table of monitors|Name of the column corresponding to the whether the monitors are active or not" prop="is-active" name="Active"></otp-table-column>
  <otp-table-column i18n-name="Table of monitors|Name of the actions columns (containing the edit and delete button)" name="Actions">
     <ng-template let-row="row" table-cell-template>
       <button class="action" (click)="onEdit(row)"><otp-icon name="#icon-edit"></otp-icon></button>
       <button class="action" (click)="onDelete(row)"><otp-icon name="#icon-delete"></otp-icon></button>
     </ng-template>
  </otp-table-column>
</otp-table>
