<spinner *ngIf="loading" [tickness]="1" [size]="20"></spinner>
<div class="row collapse">
  <div class="large-10 columns">
    <form name="form" (ngSubmit)="f.valid && onSubmit(f.value)" #f="ngForm" novalidate>
      <div class="c-container -j-between -t-d-column -t-a-start">
        <h2>{{titleText}}</h2>
        <div class="c-button-container -j-end form-group" *otpMinTablet>
          <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary">Cancel</button>
          <button disable="loading" type="submit" class="c-button -primary">Create</button>
        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
          <label for="name">Name</label>
          <input id="name" type="text" class="form-control" name="name" ngModel #name="ngModel" required />
          <div *ngIf="f.submitted && !name.valid" class="help-text">Name is required</div>
      </div>
      <div class="form-group">
          <label for="observer_type">Observer type
            <select name="observer_type" ngModel #observer_type="ngModel" required>
                <option selected [value]="'Mandated'">Mandated</option>
                <option [value]="'SemiMandated'">SemiMandated</option>
                <option [value]="'External'">External</option>
                <option [value]="'Government'">Government</option>
            </select>
          </label>
          <p *ngIf="f.submitted && !observer_type.valid" class="help-text">Please select a observer_type</p>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !country_id.valid }">
          <label for="country_id">Country
            <select name="country_id" ngModel #country_id="ngModel">
              <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
            </select>
          </label>
      </div>
      <div class="form-group">
          <label for="organization">Organization</label>
          <input id="organization" type="text" class="form-control" name="organization" ngModel #organization="ngModel" />
      </div>
      <div class="form-group">
          <label for="active">Active</label>
          <input id="active" type="checkbox" name="active" ngModel #active="ngModel" />
      </div>

      <div class="c-container -j-end -t-d-column -t-a-start" *otpMinTablet>
        <div class="c-button-container -j-end form-group">
          <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary">Cancel</button>
          <button disable="loading" type="submit" class="c-button -primary">Create</button>
        </div>
      </div>

      <otp-action-bar *otpMaxTablet>
        <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary">Cancel</button>
        <button disable="loading" type="submit" class="c-button -primary">Create</button>
      </otp-action-bar>
    </form>
  </div>
</div>
