@import 'src/settings.scss';

:host {
  .container {
    max-width: 820px;
    margin: 0 auto;

    .window {
      overflow: auto;

      .status {
        font-size: $font-size-default;
        font-weight: $font-weight-bold;
      }

      .error .status { color: $color-error; }
      .success {
        .status {
          color: $color-primary;
        }

        img {
          margin: 40px 0 60px;
        }
      }

      .process,
      .success {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
      }

      .error {
        margin: 35px 20px;

        ul {
          font-size: $font-size-default;
          list-style-type: none;
          padding: 0;
        }
      }

      background-color: $white;
      border: 1px solid $lighter-grey;
      height: 350px;
      width: 100%;

      ~ .c-button-container {
        @media screen and (max-width: $break-tablet) {
          justify-content: flex-start;
        }
      }
    }
  }
}