<div class="container">
  <div class="c-container -j-between -t-d-column -t-a-start">
    <h2>{{'Uploading CSV' | translate}}</h2>
    <div class="c-button-container form-group">
      <button *ngIf="!hasResponse || !!errors.length" type="button" (click)="exit.emit(false)" class="c-button -secondary">{{'Cancel' | translate}}</button>
      <button *ngIf="!errors.length" type="button" (click)="exit.emit(true)" [disabled]="!hasResponse" class="c-button -primary">{{'Done' | translate}}</button>
      <button *ngIf="!!errors.length" type="button" (click)="reuploadFileInput.click()" class="c-button -primary">{{'Re-upload' | translate}}</button>
      <input #reuploadFileInput type="file" (change)="reuploadFile($event.target.files)" accept=".csv" [style.display]="'none'">
    </div>
  </div>
  
  <div class="window">
    <div *ngIf="!hasResponse" class="process">
      <otp-loader></otp-loader>
      <span class="status">{{'uploadFile.uploading' | translate}}</span>
    </div>
    <div *ngIf="hasResponse && !errors.length" class="success">
      <img src="assets/check-mark.svg" alt="check-mark">
      <span class="status">{{'uploadFile.success' | translate: {'records': recordsNumber} }}</span>
    </div>
    <div *ngIf="hasResponse && !!errors.length" class="error">
      <span class="status">{{'uploadFile.errorHeader' | translate}}</span>
      <ul>
        <li *ngFor="let error of errors">
          Line {{error.line}}: ({{error.type}}) {{error.description}}
        </li>
      </ul>
    </div>
  </div>

  <div class="c-button-container -j-end form-group">
    <button *ngIf="!hasResponse || !!errors.length" type="button" (click)="exit.emit(false)" class="c-button -secondary">{{'Cancel' | translate}}</button>
    <button *ngIf="!errors.length" type="button" (click)="exit.emit(true)" [disabled]="!hasResponse" class="c-button -primary">{{'Done' | translate}}</button>
    <button *ngIf="!!errors.length" type="button" (click)="reuploadFileInput.click()" class="c-button -primary">{{'Re-upload' | translate}}</button>
  </div>
</div>
