<spinner class="center" *ngIf="loading" [tickness]="1" [size]="20"></spinner>
<div class="c-container -j-between -t-d-column -t-a-start">
  <h2>
    <ng-template [ngIf]="mode === 'new'" i18n="Category creation|Title of the page">New category</ng-template>
    <ng-template [ngIf]="mode !== 'new'" i18n="Category edition|Title of the page">Update category</ng-template>
  </h2>
  <div class="c-button-container -j-end form-group" *otpMinTablet>
    <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary" i18n="Cancel button">Cancel</button>
    <button disable="loading" type="submit" class="c-button -primary" i18n="Create button">Create</button>
  </div>
</div>

<form name="form" class="c-form" (ngSubmit)="f.valid && onSubmit(f.value)" #f="ngForm" novalidate>
  <div class="form-container">
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
      <label for="name" i18n="Category creation/edition|Label for the name field">Name</label>
      <input id="name" type="text" class="form-control" name="name" ngModel #name="ngModel" required />
      <div *ngIf="f.submitted && !name.valid" class="help-text" i18n="Category creation/edition|Error message if the name isn't supplied">Name is required</div>
    </div>
  </div>

  <div class="form-footer">
    <div class="c-container -j-end -t-d-column -t-a-start" *otpMinTablet>
      <div class="c-button-container -j-end form-group">
        <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary" i18n="Cancel button">Cancel</button>
        <button disable="loading" type="submit" class="c-button -primary" i18n="Create button">Create</button>
      </div>
    </div>

    <otp-action-bar *otpMaxTablet>
      <button disable="loading" type="button" (click)="onCancel()" class="c-button -secondary" i18n="Cancel button">Cancel</button>
      <button disable="loading" type="submit" class="c-button -primary" i18n="Create button">Create</button>
    </otp-action-bar>
  </div>
</form>
