html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Acumin Pro';
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  max-width: $body-max-width;

  @media screen and (min-width: $break-mobile) {
    padding: 0 20px;
  }
}
