// COLORS
$black: #0a0a0a;
$dark-grey: #333333;
$grey: #808080;
$light-grey: #eeeeee;
$lighter-grey: #d3d3d3;
$white: #ffffff;

// APP COLORS
$color-primary: #317a4b;
$color-error: #bf2b2b;

// FONT SIZES
$font-size-small: 10px;
$font-size-default: 13px;
$font-size-medium: 14px;
$font-size-big: 16px;
$font-size-huge: 30px;

// FONT WEIGTH
$font-weight-default: normal;
$font-weight-bold: bold;
$font-weight-thin: 300;
$font-weight-medium: 500;

// COMPONENTS VARIABLES
$bottom-bar-height: 58px;

// LAYOUT VARIABLES
$body-max-width: 1090px;

// BREAKPOINTS
$break-mobile: 480px;
$break-tablet: 768px;
