// COLORS
$black: #0a0a0a;
$dark-grey: #333333;
$grey: #808080;
$light-grey: #d8d8d8;
$lighter-grey: #d3d3d3;
$white: #ffffff;

// COMPONENTS VARIABLES
$sidebar-width: 200px;

// LAYOUT VARIABLES
$body-max-width: 1090px;

// BREAKPOINTS
$break-mobile: 480px;
$break-tablet: 768px;
