<div class="c-container -j-between -t-d-column -t-a-start">
  <div class="c-button-container -j-end">
    <button (click)="triggerNewLaw()" class="c-button -primary">
      New law
    </button>
  </div>
</div>

<otp-table caption="Laws">
  <otp-table-column prop="legal_reference" name="Legal Reference">
  </otp-table-column>
  <otp-table-column prop="legal_penalty" name="Legal Penalty">
  </otp-table-column>
  <otp-table-column prop="vpa_indicator" name="VPA indicator">
  </otp-table-column>
  <otp-table-column name="Actions">
     <ng-template let-row="row" table-cell-template>
       <button class="action" (click)="onEdit(row)"><otp-icon name="#icon-edit"></otp-icon></button>
       <button class="action" (click)="onDelete(row)"><otp-icon name="#icon-delete"></otp-icon></button>
     </ng-template>
  </otp-table-column>
</otp-table>
