<div class="c-container -j-between -t-d-column -t-a-start">
  <div class="c-button-container -j-end">
    <button (click)="triggerNewLaw()" class="c-button -primary" i18n="Button to create a new law">
      New law
    </button>
  </div>
</div>

<otp-table i18n-caption="Caption for the table which lists the laws" caption="Laws">
  <otp-table-column i18n-name="Table of laws|Name of the column corresponding to the legal reference of the laws" prop="legal_reference" name="Legal Reference">
  </otp-table-column>
  <otp-table-column i18n-name="Table of laws|Name of the column corresponding to the legal penalty of the laws" prop="legal_penalty" name="Legal Penalty">
  </otp-table-column>
  <otp-table-column i18n-name="Table of laws|Name of the column corresponding to the VPA indicator of the laws" prop="vpa_indicator" name="VPA indicator">
  </otp-table-column>
  <otp-table-column i18n-name="Table of laws|Name of the actions (containing the edit and delete button)" name="Actions">
     <ng-template let-row="row" table-cell-template>
       <button class="action" (click)="onEdit(row)"><otp-icon name="#icon-edit"></otp-icon></button>
       <button class="action" (click)="onDelete(row)"><otp-icon name="#icon-delete"></otp-icon></button>
     </ng-template>
  </otp-table-column>
</otp-table>
