@if (loading) {
  <otp-loader overlay fixed></otp-loader>
}
@if (!loading) {
  <form name="form" class="c-form" (ngSubmit)="canEdit() && f.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="c-container -j-between -t-d-column -t-a-start">
      @if (!canEdit()) {
        <h2>{{'Law details' | translate}}</h2>
      }
      @if (canEdit() && !law.id) {
        <h2>{{'New law' | translate}}</h2>
      }
      @if (canEdit() && law.id) {
        <h2>{{'Edit law' | translate}}</h2>
      }
      <div class="c-button-container -j-end form-group" *otpMinTablet>
        @if (!canEdit()) {
          <button type="button" (click)="onClickBack()" class="c-button -secondary">{{'Go back' | translate}}</button>
        }
        @if (canEdit()) {
          <button type="button" (click)="onCancel()" class="c-button -secondary">{{'Cancel' | translate}}</button>
        }
        @if (canEdit() && !law.id) {
          <button  type="submit" class="c-button -primary">{{'Create' | translate}}</button>
        }
        @if (canEdit() && law.id) {
          <button  type="submit" class="c-button -primary">{{'Save' | translate}}</button>
        }
      </div>
    </div>
    <div class="form-container">
      @if (loading) {
        <otp-loader></otp-loader>
      }
      <!-- 1. Country -->
      <div class="form-group -required">
        <label for="country_id">{{'Country' | translate}}</label>
        <select id="country_id" name="country_id" [ngModel]="law && law.country" (ngModelChange)="law && (law.country = $event)" #country_id="ngModel" required>
          <option [ngValue]="null" disabled>{{'Select a country' | translate}}</option>
          @for (country of countries; track country) {
            <option [ngValue]="country">{{ country.name }}</option>
          }
        </select>
      </div>
      <!-- 2. Subcategory -->
      <div class="form-group -required">
        <label for="subcategory">{{'Subcategory' | translate}}</label>
        <select id="subcategory" name="subcategory" [ngModel]="law && law.subcategory" (ngModelChange)="law && (law.subcategory = $event)" #subcategory="ngModel" required [disabled]="!canEdit()">
          <option [ngValue]="null" disabled>{{'Select a subcategory' | translate}}</option>
          @for (subcategory of subcategories; track subcategory) {
            <option [ngValue]="subcategory">{{ subcategory.name }}</option>
          }
        </select>
        @if (f.submitted && !country_id.valid) {
          <div class="help-text">{{'lawDetail.selectSubcategory' | translate}}</div>
        }
      </div>
      <!-- 3. Observation according to legal text -->
      <div class="form-group">
        <label for="law_field">{{'Observation according to legal text' | translate}}</label>
        <textarea id="law_field" class="form-control" name="law_field" [ngModel]="law && law['written-infraction']" (ngModelChange)="law && (law['written-infraction'] = $event)" #law_field="ngModel" [disabled]="!canEdit()"></textarea>
      </div>
      <!-- 4. Legal reference (infraction) -->
      <div class="form-group">
        <label for="infraction">{{'Legal reference (infraction)' | translate}}</label>
        <textarea id="infraction" class="form-control" name="infraction" [ngModel]="law && law.infraction" (ngModelChange)="law && (law.infraction = $event)" #infraction="ngModel" [disabled]="!canEdit()"></textarea>
      </div>
      <!-- 5. Legal reference (sanction) -->
      <div class="form-group">
        <label for="sanctions">{{'Legal reference (sanction)' | translate}}</label>
        <textarea id="sanctions" class="form-control" name="sanctions" [ngModel]="law && law.sanctions" (ngModelChange)="law && (law.sanctions = $event)" #sanctions="ngModel" [disabled]="!canEdit()"></textarea>
      </div>
      <!-- 6. Fine -->
      <fieldset>
        <legend>{{'Fine' | translate}}</legend>
        <div class="fieldset-container">
          <!-- 6.1. Minimum fine -->
          <div class="form-group">
            <label for="min_fine">{{'Minimum fine' | translate}}</label>
            <input id="min_fine" type="text" class="form-control" name="min_fine" [ngModel]="law && law['min-fine']" (ngModelChange)="law && (law['min-fine'] = $event)" #min_fine="ngModel" [disabled]="!canEdit()" number />
            @if (f.submitted && !min_fine.valid) {
              <div class="help-text">{{'Please enter a valid number' | translate}}</div>
            }
          </div>
          <!-- 6.2. Maximum fine -->
          <div class="form-group">
            <label for="max_fine">{{'Maximum fine' | translate}}</label>
            <input id="max_fine" type="text" class="form-control" name="max_fine" [ngModel]="law && law['max-fine']" (ngModelChange)="law && (law['max-fine'] = $event)" #max_fine="ngModel" [disabled]="!canEdit()" number />
            @if (f.submitted && !max_fine.valid) {
              <div class="help-text">{{'Please enter a valid number' | translate}}</div>
            }
          </div>
          <!-- 6.3. Currency -->
          <div class="form-group">
            <label for="currency">{{'Currency' | translate}}</label>
            <input id="currency" type="text" class="form-control" name="currency" [ngModel]="law && law.currency" (ngModelChange)="law && (law.currency = $event)" #currency="ngModel" [disabled]="!canEdit()" />
          </div>
        </div>
      </fieldset>
      <!-- 7. Penal servitude -->
      <div class="form-group">
        <label for="penal_servitude">{{'Penal servitude' | translate}}</label>
        <textarea id="penal_servitude" type="text" class="form-control" name="penal_servitude" [ngModel]="law && law['penal-servitude']" (ngModelChange)="law && (law['penal-servitude'] = $event)" #penal_servitude="ngModel" [disabled]="!canEdit()"></textarea>
      </div>
      <!-- 8. Other penalties -->
      <div class="form-group">
        <label for="other_penalties">{{'Other penalties' | translate}}</label>
        <textarea id="other_penalties" type="text" class="form-control" name="other_penalties" [ngModel]="law && law['other-penalties']" (ngModelChange)="law && (law['other-penalties'] = $event)" #other_penalties="ngModel" [disabled]="!canEdit()"></textarea>
      </div>
      <!-- 9. APV -->
      <div class="form-group">
        <label for="apv">{{'APV' | translate}}</label>
        <textarea id="apv" type="text" class="form-control" name="apv" [ngModel]="law && law.apv" (ngModelChange)="law && (law.apv = $event)" #flegt="ngModel" [disabled]="!canEdit()"></textarea>
      </div>
    </div>
    <div class="form-footer">
      <div class="c-container -j-end -t-d-column -t-a-start" *otpMinTablet>
        <div class="c-button-container -j-end form-group">
          @if (!canEdit()) {
            <button type="button" (click)="onClickBack()" class="c-button -secondary">{{'Go back' | translate}}</button>
          }
          @if (canEdit()) {
            <button type="button" (click)="onCancel()" class="c-button -secondary">{{'Cancel' | translate}}</button>
          }
          @if (canEdit() && !law.id) {
            <button  type="submit" class="c-button -primary">{{'Create' | translate}}</button>
          }
          @if (canEdit() && law.id) {
            <button  type="submit" class="c-button -primary">{{'Save' | translate}}</button>
          }
        </div>
      </div>
      <otp-action-bar *otpMaxTablet>
        @if (!canEdit()) {
          <button type="button" (click)="onClickBack()" class="c-button -secondary">{{'Go back' | translate}}</button>
        }
        @if (canEdit()) {
          <button type="button" (click)="onCancel()" class="c-button -secondary">{{'Cancel' | translate}}</button>
        }
        @if (canEdit() && !law.id) {
          <button  type="submit" class="c-button -primary">{{'Create' | translate}}</button>
        }
        @if (canEdit() && law.id) {
          <button  type="submit" class="c-button -primary">{{'Save' | translate}}</button>
        }
      </otp-action-bar>
    </div>
  </form>
}
